:root {
    --primary-clr: #a706f1;
    --sec-clr: #ff5882;
    --brown-clr1: #ff964e;
    --brown-clr2: #ffcb4b;
    --blue-clr: #0086ff;
    --text-clr2: #f9d9f9;
    --text-clr1: #fff6ff;
    --dark-clr1: #090208;
    --dark-clr2: #241822;
    --secBg-clr: #42273f;
    --bg1-opac05: #130711b2;
    --bg1-opac09: #130711e6;
    --bg1-opac02: #1307115d;
    --bg2-opac05: #2418227b;
    --bg2-opac02: #2418224e;
    --bg2-opac07: #241822da;
    --bg2-opac09: #241822ea;
  
    --borderline-clr: rgba(128, 128, 128, 0.401);
    --borderline-clr2: rgba(128, 128, 128, 0.106);
  
    --gen-padding: 10%;
    --small-padding: 5%;
  
    --clip-type1: polygon(
      0% 0%,
      35% 0%,
      40% 3%,
      60% 3%,
      65% 0%,
      100% 0%,
      100% 35%,
      99% 40%,
      99% 60%,
      100% 65%,
      100% 100%,
      65% 100%,
      60% 97%,
      40% 97%,
      35% 100%,
      0% 100%,
      0% 65%,
      1% 60%,
      1% 40%,
      0% 35%,
      0% 0%
    );
    --clip-type3: polygon(
      0% 0%,
      35% 0%,
      40% 3%,
      60% 3%,
      65% 0%,
      100% 0%,
      100% 35%,
      97% 40%,
      97% 60%,
      100% 65%,
      100% 100%,
      65% 100%,
      60% 97%,
      40% 97%,
      35% 100%,
      0% 100%,
      0% 65%,
      3% 60%,
      3% 40%,
      0% 35%,
      0% 0%
    );
    --clip-type2: polygon(
      5% 0%,
      35% 0%,
      40% 3%,
      60% 3%,
      65% 0%,
      95% 0%,
      100% 5%,
      100% 95%,
      95% 100%,
      65% 100%,
      60% 97%,
      40% 97%,
      35% 100%,
      5% 100%,
      0% 95%,
      0% 5%
    );
  
    --font-unica: "Unica One", sans-serif;
    --font-jost: "Jost", sans-serif;
    --font-IBM: "IBM Plex Mono", monospace;
    --font-metro: "Metrophobic", sans-serif;
  }

.pageNotfound {
    width: 100%;
    height: 100dvh;
    position: relative;
    background-image: linear-gradient(to bottom, var(--bg1-opac02), var(--bg1-opac02), rgba(19, 0, 31, 0.1)), url(/404_bg1.jpg);
    isolation: isolate;
    overflow: hidden;
}

.pageNotfound > img{
    width: 100%;
    height: 100%;
    object-fit: 120%;
    filter: grayscale(60%);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.pnf_overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px var(--gen-padding);

    background-color: var(--bg1-opac05);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
} 

.leftElems {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.leftElems > h1{
    font-size: 3.1em;
    font-family: var(--font-unica);
    font-family: 'Handjet', cursive;
    font-weight: 600;
    color: var(--primary-clr);
    line-height: 1.4;
}

.leftElems > h1 span {
    font-size: 1.3em;
    color: var(--text-clr2);
    font-weight: 200;
}

.chat1 {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #4d275f;
    margin-left: auto;
    position: relative;
}
.chat2 {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #a75167;
    margin-right: auto;
    position: relative;
}

.nameHighligh.left {
    width: 100%;
    padding-block: 6px;
    padding-inline: 10px;
    background-color: #2b222e61;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(9px);
    font-size: 1.05em;
    font-family: 'Handjet', cursive;
    color: var(--text-clr2);
    font-weight: 500;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    text-align: right;
}

.nameHighligh.right {
    width: 100%;
    padding-block: 6px;
    padding-inline: 10px;
    background-color: #2b222e61;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(9px);
    position: relative;
    font-size: 1.05em;
    font-family: 'Handjet', cursive;
    color: var(--text-clr2);
    font-weight: 500;
    overflow: hidden;
    border-radius: 6px;
    text-align: left;
}

.nameHighligh.left::after{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 4px;
    left: 0;
    background-color: var(--primary-clr);
}

.nameHighligh.right::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 4px;
    right: 0;
    background-color: var(--sec-clr);
}

.spaceText {
    width: 100%;
    font-size: 1.3em;
    color: var(--text-clr2);
    font-family: var(--font-unica);
    margin-top: 6px;
}

.spaceText2 {
    width: 100%;
    font-size: 1.3em;
    color: var(--text-clr2);
    font-family: var(--font-unica); 
}

.spaceText2 span{
    font-size: 1.05em;
    font-family: 'Handjet', cursive;
    font-weight: 500;
    color: #f2dfefa1;
}

.blinker{
    animation: blinker 1s ease infinite;
    margin-bottom: 1px;
}

@keyframes blinker {
    0%{
        opacity: 0.4;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(0.5);
    }
}

.arrowParent::after{
    content: "";
    position: absolute;
    background-color: inherit;
    width: 17px;
    aspect-ratio: 1;
    bottom: 0;
    right: -8px;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}
.arrowParentleft::after{
    content: "";
    position: absolute;
    background-color: inherit;
    width: 17px;
    aspect-ratio: 1;
    bottom: 0;
    left: -8px;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: rotateY(180deg);
}

.leftElems > a{
    border: none;
    outline: none;
    padding: 12px 25px;
    font-size: 1.2em;
    font-family: 'Handjet', cursive;
    color: var(--text-clr2);
    border-radius: 6.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    clip-path: var(--clip-type1);
    background-color: var(--sec-clr);
    margin-top: 15px;
    font-weight: 500;
}

.utilVL {
    width: 2px;
    height: 80%;
    border-radius: 10px;
    background-color: #e43aca;
}

.rightElems > img {
    animation: spaceDance 5.5s ease-in-out infinite alternate;
}

@keyframes spaceDance {
    0%{
        transform: translateY(0);
        rotate: 0deg;
    } 
    100% {
        transform: translateY(23px);
        rotate: 7deg; 
    }
}

@media screen and (max-width: 800px) {
    .utilVL{
        display: none;
    }
    .rightElems{
        display: none;
    }
    .leftElems{
        width: 90%;
    }

    .pageNotfound > img{
        object-fit: cover;
        object-position: center;
    }
}















