:root {
  --primary-clr: #0672CD;
  --sec2-clr: #9864AD;
  --sec-clr: #D8A31A;
  --text-clr1: #F5F9FF;
  --text-deco: #F3F9FF;
  --white-purple: #b9dfff;
  --dark-clr1: #000613;
  --dark-clr2: #070e1e;
  --dark-clr3: #020d25;
  --dark-clr4: #002848;
  --dark-clr5: #070032;

  --opac-clr1: #00123345;
  --opac-clr2: #0263b37d;
  --opac-clr3: #364763a1;

  --danger-clr: #DC1262;
  --yellow-clr: #F9F871;
  --green-clr: #2DC194;
  --grey-clr: #928e84;
  --linear-grad1: linear-gradient(180deg, #0672cd 40%, #d8a31a);
  --linear-grad2: linear-gradient(120deg, #0672cd , #d8a31a);
  --linear-grad3: linear-gradient(180deg,  #d8a31a, #0672cd, #d8a31a);


  --gen-padding: 10%;
  --btn-height: 40px;


  --font-alegreya: 'Alegreya Sans', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-mont: 'Montserrat', sans-serif;
}

*::selection{
  color: var(--primary-clr);
  background: var(--text-clr1);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: var(--font-alegreya);
  color: var(--text-clr1);
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
}

body{
  background-color: var(--dark-clr1);
}

::-webkit-scrollbar{
  width: 7px;
  height: 3px;
  background-color: var(--dark-clr1);
}

::-webkit-scrollbar-track{
  background: transparent;
  padding: 3px;
  width: 100%;
}

::-webkit-scrollbar-thumb{
  border-radius: 7px;
  background: var(--primary-clr);
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-width: 1309px)  {
  body {
    --gen-padding: 5%;
    font-size: 14px;
  }

}
@media screen and (max-width: 600px)  {
  body {
    font-size: 12px;
  }

}

