:root {
  --primary-clr: #a706f1;
  --sec-clr: #ff5882;
  --brown-clr1: #FF964E;
  --brown-clr2: #FFCB4B;
  --blue-clr: #0086FF;
  --text-clr2: #f9d9f9;
  --text-clr1: #FFF6FF;
  --dark-clr1: #090208;
  --dark-clr2: #241822;
  --secBg-clr: #42273F;
  --bg1-opac05: #130711b2;
  --bg1-opac02: #1307115d;
  --bg2-opac05: #2418227b;
  --bg2-opac02: #2418224e;
  --bg2-opac07: #241822da;

  --borderline-clr: rgba(128, 128, 128, 0.401);
  --borderline-clr2: rgba(128, 128, 128, 0.106);
  
  --gen-padding: 10%;
  --small-padding: 5%;

  --clip-type1: polygon(0% 0%, 35% 0%, 40% 3%, 60% 3%, 65% 0%, 100% 0%, 100% 35%, 99% 40%, 99% 60%, 100% 65%, 100% 100%, 65% 100%, 60% 97%, 40% 97%, 35% 100%, 0% 100%, 0% 65%, 1% 60%, 1% 40%, 0% 35%, 0% 0%);
  --clip-type2: polygon(5% 0%, 35% 0%, 40% 3%, 60% 3%, 65% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 65% 100%, 60% 97%, 40% 97%, 35% 100%, 5% 100%, 0% 95%, 0% 5%);

  --font-unica: 'Unica One', sans-serif;
  --font-jost: 'Jost', sans-serif;
}

*::selection{
  color: var(--primary-clr);
  background: var(--text-clr2);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Alegreya Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  background-color: var(--dark-clr1);
}

::-webkit-scrollbar{
  width: 7px;
  height: 3px;
  background-color: var(--dark-clr1);
}

::-webkit-scrollbar-track{
  background: transparent;
  padding: 3px;
  width: 100%;
}

::-webkit-scrollbar-thumb{
  border-radius: 7px;
  background: var(--primary-clr);
}

.cursorTrailer{
  width: 9px;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: var(--bg1-opac05);
  backdrop-filter: hue-rotate(180deg);
  -webkit-backdrop-filter: hue-rotate(180deg);
  border: 2px solid var(--text-clr1);
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.loader{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--bg1-opac02);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.loadBox{
  width: 40%;
  aspect-ratio: 1;
  animation: loaderSpinner 1.8s ease-in-out infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadBox i{
  font-size: 400%;
  color: var(--sec-clr);
}

@keyframes loaderSpinner {
  0%{
    transform: rotate(0deg); 
  }

  100%{
    transform: rotate(360deg);
  }
}
