:root {
    --primary-clr: #a706f1;
    --sec-clr: #ff5882;
    --brown-clr1: #ff964e;
    --brown-clr2: #ffcb4b;
    --blue-clr: #0086ff;
    --text-clr2: #f9d9f9;
    --text-clr1: #fff6ff;
    --dark-clr1: #090208;
    --dark-clr2: #241822;
    --secBg-clr: #42273f;
    --bg1-opac05: #130711b2;
    --bg1-opac09: #130711e6;
    --bg1-opac02: #1307115d;
    --bg2-opac05: #2418227b;
    --bg2-opac02: #2418224e;
    --bg2-opac07: #241822da;
    --bg2-opac09: #241822ea;
  
    --borderline-clr: rgba(128, 128, 128, 0.401);
    --borderline-clr2: rgba(128, 128, 128, 0.106);
  
    --gen-padding: 10%;
    --small-padding: 5%;
  
    --clip-type1: polygon(
      0% 0%,
      35% 0%,
      40% 3%,
      60% 3%,
      65% 0%,
      100% 0%,
      100% 35%,
      99% 40%,
      99% 60%,
      100% 65%,
      100% 100%,
      65% 100%,
      60% 97%,
      40% 97%,
      35% 100%,
      0% 100%,
      0% 65%,
      1% 60%,
      1% 40%,
      0% 35%,
      0% 0%
    );
    --clip-type3: polygon(
      0% 0%,
      35% 0%,
      40% 3%,
      60% 3%,
      65% 0%,
      100% 0%,
      100% 35%,
      97% 40%,
      97% 60%,
      100% 65%,
      100% 100%,
      65% 100%,
      60% 97%,
      40% 97%,
      35% 100%,
      0% 100%,
      0% 65%,
      3% 60%,
      3% 40%,
      0% 35%,
      0% 0%
    );
    --clip-type2: polygon(
      5% 0%,
      35% 0%,
      40% 3%,
      60% 3%,
      65% 0%,
      95% 0%,
      100% 5%,
      100% 95%,
      95% 100%,
      65% 100%,
      60% 97%,
      40% 97%,
      35% 100%,
      5% 100%,
      0% 95%,
      0% 5%
    );
  
    --font-unica: "Unica One", sans-serif;
    --font-jost: "Jost", sans-serif;
    --font-IBM: "IBM Plex Mono", monospace;
    --font-metro: "Metrophobic", sans-serif;
  }

.GlossSect1 {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(200px, 20%) 1fr max-content;
    padding-inline: var(--gen-padding);
    padding-block: 3em;
    position: relative;
    gap: 20px;

    transition: grid-template-columns 0s ease;
}

.GlossSect1.griChange {
    grid-template-columns: minmax(50px, 90px) 1fr max-content;
    transition: grid-template-columns 0.25s ease;
}

.wordList_gloss {
    background-color: #2418228f;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 0px;
    height: max-content;
    max-height: calc(100vh - 90px);
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
    border: 0.5px dashed #a706f165;
    border-right: none;

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
}


.wordList_gloss .mininize-Btn {
    width: 30px;
    aspect-ratio: 1;
    border: 1px solid var(--primary-clr);
    border-radius: 5px 0px 0px 5px;
    color: var(--primary-clr);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-right: 10px;
    margin-left: auto;   
    outline: none;
    box-shadow: 0 0 0px #a706f181;
    animation: bloop 1s ease-in-out infinite;
    animation-play-state: paused;
    
    transition: box-shadow 10s ease-in-out;
}

@keyframes bloop {
    0% {
        box-shadow: 0 0 0px #a706f181;
    }
    50% {
        box-shadow: 0 0 10px #a706f181;
    }
    100% {
        box-shadow: 0 0 0px #a706f181;
    }
}

.wordList_gloss .mininize-Btn:hover{
    animation-play-state: running;
} 

.hamburger_Btn {
    position: fixed;
    top: 3px;
    left: 10px;

    width: 70px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: var(--primary-clr);
    border: 0.5px dashed #a706f198;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}


.theList_gloss {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-inline: 10px;
    overflow-y: auto;
    overscroll-behavior-block: contain;
}

.theList_gloss li{
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--text-clr2);
    cursor: pointer;

    border-radius: 5px;
}

.theList_gloss li:focus-within{
    background-color: rgba(233, 189, 255, 0.329);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.theList_gloss li span:nth-child(2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; 
    white-space: pre-wrap;
    overflow: hidden;
    font-size: 1.2em;
    font-family: var(--font-unica);
    font-weight: 300;
    width: 100%;
}

.theList_gloss li:hover i{
    animation: swipeswipe 1s ease-in-out 1s infinite;
}

.theList_gloss li button {
    width: 25px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-clr);
    font-size: 20px;
    overflow: hidden;

    background: transparent;
    border: none;
    outline: none;
}

.theList_gloss li i{
    animation: none;
}

@keyframes swipeswipe {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(100%);
    }
    50.0001% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }

}

.centerGlossaryTab {
    border-radius: 20px;
    min-height: 150vh;

    display: flex;
    flex-direction: column;
    gap: 15px;

    padding-inline: 12px;
}


.headercntn{
    width: 100%;
    position: relative;
    display: flex;
}

.headercntn h3{
    font-size: 4.5em;
    font-family: var(--font-jost);
    position: relative;
}

.headercntn.left h3 {
    margin-left: auto;
    margin-right: 0;
}

.headercntn span {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: linear-gradient(to right, var(--primary-clr), 60%, transparent);
}

.headercntn.left span{
    background: linear-gradient(to left, var(--sec-clr), 60%, transparent);
}

.unitGlossWord{
    width: 70%;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.120);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 980px) {
    .GlossSect1 {
        position: static;
        gap: 15px;
    }

    .unitGlossWord{
        width: 95%;
    }
}



.unitGlossWord:focus-within{
    outline: 2px solid #e298fd;
}

.unitGlossWord.left{
    margin-left: auto;
}

.unitGlossWord.left:focus-within{
    outline: 2px solid #f69bbe;
}

.unitGlossWord h4{
    font-size: 1.4em;
    font-family: var(--font-unica);
    font-weight: 600;
    color: var(--primary-clr);
}

.unitGlossWord.left h4{
    color: var(--sec-clr);
    /* margin-left: auto; */
}

.meaningSect .utilButton{
    border: none;
    outline: none;
}


.meaningSect .utilButton, .meaningSect h6{
    width: max-content;
    padding: 4px 9px;
    border-radius: 2px 5px 2px 5px;
    background-color: #726e7423;
    clip-path: var(--clip-type2);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;

    font-weight: 500;
    font-size: 0.9em;
    color: var(--text-clr2);
    color: #e298fd;
}

.unitGlossWord.left .meaningSect h6, .unitGlossWord.left .meaningSect .utilButton{
    color: #f69bbe;
}
.meaningSect p{
    font-size: 0.97em;
    color: var(--text-clr2);
    font-weight: 300;
    margin-top: 5px;
}

.meaningSect.rel p {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    white-space: pre-wrap;
    overflow: hidden;

    position: relative;
}

.meaningSect.rel p button{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;

    background-color: transparent;
    border: 1px solid var(--primary-clr);
    color: var(--primary-clr);
    cursor: pointer;
    width: 19px;
    height: 17px;
    border-radius: 3px;
    outline: none;
    font-size: 1.2em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.unitGlossWord.left .meaningSect.rel p button{
    background-color: transparent;
    border: 1px solid var(--sec-clr);
    color: var(--sec-clr);
}

.icofont-dotted-down, .icofont-dotted-up{
    pointer-events: none;
}

.sideAlphabetTab {
    width: 60px;
    background-color: var(--sec-clr);
    padding-block: 20px;
    border-radius: 0px 15px 15px 0px;
    border: 0.5px dashed #a706f16b;
    border-left: none; 
    background-color: #2418228f;
    height: max-content;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
}

.sideAlphabetTab button, .sideAlphabetTab a{
    background-color: rgba(255, 255, 255, 0.038);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 0.5px solid;
    border-color: #a706f165;
    opacity: 0.87;
    width: 40px;
    aspect-ratio: 1/0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;

    font-family: var(--font-unica);
    font-size: 1.1em;
    color: var(--text-clr2);

    transition: opacity 0.35s ease-in-out, border-color 0.35s ease;
}

.sideAlphabetTab button:hover, .sideAlphabetTab a:hover{
    border-color: var(--primary-clr);
    opacity: 1;
}


.glossSearchBox{
    position: relative;
}

.glossSearchBox ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 10;
    padding-block: 20px;

    background-color: #241822f8;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    max-height: 320px;
    overflow: auto;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.glossSearchBox ul::-webkit-scrollbar{
    width: 4px;
    height: 3px;
    background-color: transparent;
}

.glossSearchBox ul::-webkit-scrollbar-button{
    height: 6px;
    background-color: transparent;
}

.glossSearchBox ul li{
    width: 100%;
    padding: 4px 20px;
    font-size: 1.5em;
    font-weight: 300;
    color: var(--text-clr2);

    border-bottom: 1px dashed var(--bg1-opac09);
    cursor: pointer;

    opacity: 0.6;
}

.glossSearchBox ul li:hover{
    opacity: 1;
    background-color: var(--bg1-opac05);
}


.mainSearchArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mainSearchArea.related {
    margin-top: 3em;
}

.mainSearchArea h3{
    font-size: 4.2em;
    font-weight: 300;
    color: var(--text-clr2);
    margin-top: 10px;
}

.emptyGlossSearchArea {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    isolation: isolate;
}

.bgSpacecraftCntn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.bgSpacecraftCntn img{
    margin-top: 3%;
    width: 53%;
    opacity: 0.5;
    filter: blur(0.5px);

    animation: spacehover 4s ease-in-out infinite;
}

@keyframes spacehover {
    0%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(4%);
    }
    100%{
        transform: translateY(0);
    }

}

.bgSpacecraftCntn span {
    --var-top: 3%;
    --var-left: 5%;
    --var-right: none;
    --var-width: 0.5;
    --var-bottom: none;
    --var-delay: 0;
    
    

    width: calc(10px * var(--var-width));
    aspect-ratio: 1;
    background-color: #f9d3f8;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: absolute;
    left: var(--var-left);
    right: var(--var-right);
    bottom: var(--var-bottom);
    top: var(--var-top);

    animation: hooperloop 6s ease infinite var(--var-delay);
}

@keyframes hooperloop {
    0%{
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    55%{
        opacity: 0.8;
    }
    85%{
        opacity: 0.2;
    }
    95%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }

}

.bgSpacecraftCntn span:nth-child(1) {
    --var-top: 26%;
    --var-left: 20%;
    --var-right: none;
    --var-width: 0.67;
    --var-bottom: none;
    --var-delay: 0;
}
.bgSpacecraftCntn span:nth-child(2) {
    --var-top: none;
    --var-left: none;
    --var-right: 30%;
    --var-width: 0.4;
    --var-bottom: 25%;
    --var-delay: 0.3s;
}
.bgSpacecraftCntn span:nth-child(3) {
    --var-top: 70%;
    --var-left: 40%;
    --var-right: none;
    --var-width: 0.7;
    --var-bottom: none;
    --var-delay: 0.8s;
}
.bgSpacecraftCntn span:nth-child(4) {
    --var-top: 33%;
    --var-left: 57%;
    --var-right: none;
    --var-width: 0.66;
    --var-bottom: none;
    --var-delay: 0.6s;
}
.bgSpacecraftCntn span:nth-child(5) {
    --var-top: 40%;
    --var-left: 42%;
    --var-right: none;
    --var-width: 0.5;
    --var-bottom: none;
    --var-delay: 1s;
}
.bgSpacecraftCntn span:nth-child(6) {
    --var-top: 20%;
    --var-left: 70%;
    --var-right: none;
    --var-width: 0.6;
    --var-bottom: none;
    --var-delay: 2s;
}
.bgSpacecraftCntn span:nth-child(7) {
    --var-top: 80%;
    --var-left: 50%;
    --var-right: none;
    --var-width: 0.56;
    --var-bottom: none;
    --var-delay: 1.13s;
}
.bgSpacecraftCntn span:nth-child(8) {
    --var-top: 57%;
    --var-left: 34%;
    --var-right: none;
    --var-width: 0.56;
    --var-bottom: none;
    --var-delay: 4s;
}
.bgSpacecraftCntn span:nth-child(9) {
    --var-top: 59%;
    --var-left: 54%;
    --var-right: none;
    --var-width: 0.58;
    --var-bottom: none;
    --var-delay: 1.5s;
}
.bgSpacecraftCntn span:nth-child(10) {
    --var-top: 15%;
    --var-left: 48%;
    --var-right: none;
    --var-width: 0.4;
    --var-bottom: none;
    --var-delay: 0.34s;
}
.bgSpacecraftCntn span:nth-child(11) {
    --var-top: 38%;
    --var-left: 54%;
    --var-right: none;
    --var-width: 0.6;
    --var-bottom: none;
    --var-delay: 2.62s;
}
.bgSpacecraftCntn span:nth-child(12) {
    --var-top: 18%;
    --var-left: 39%;
    --var-right: none;
    --var-width: 0.45;
    --var-bottom: none;
    --var-delay: 0.77s;
}
.bgSpacecraftCntn span:nth-child(13) {
    --var-top: 20%;
    --var-left: 30%;
    --var-right: none;
    --var-width: 0.66;
    --var-bottom: none;
    --var-delay: 0.95s;
}
.bgSpacecraftCntn span:nth-child(14) {
    --var-top: 50%;
    --var-left: 24%;
    --var-right: none;
    --var-width: 0.69;
    --var-bottom: none;
    --var-delay: 3.39s;
}
.bgSpacecraftCntn span:nth-child(15) {
    --var-top: 54%;
    --var-left: 70%;
    --var-right: none;
    --var-width: 0.53;
    --var-bottom: none;
    --var-delay: 1.9s;
}
.bgSpacecraftCntn span:nth-child(16) {
    --var-top: 14%;
    --var-left: 55.3%;
    --var-right: none;
    --var-width: 0.59;
    --var-bottom: none;
    --var-delay: 1.02s;
}
.bgSpacecraftCntn span:nth-child(17) {
    --var-top: 39%;
    --var-left: 29%;
    --var-right: none;
    --var-width: 0.52;
    --var-bottom: none;
    --var-delay: 1.66s;
}
.bgSpacecraftCntn span:nth-child(18) {
    --var-top: 81%;
    --var-left: 24%;
    --var-right: none;
    --var-width: 0.71;
    --var-bottom: none;
    --var-delay: 0.1s;
}
.bgSpacecraftCntn span:nth-child(19) {
    --var-top: 20%;
    --var-left: 10%;
    --var-right: none;
    --var-width: 0.8;
    --var-bottom: none;
    --var-delay: 2.89s;
}
.bgSpacecraftCntn span:nth-child(20) {
    --var-top: 72%;
    --var-left: 60%;
    --var-right: none;
    --var-width: 0.64;
    --var-bottom: none;
    --var-delay: 2.59s;
}
.bgSpacecraftCntn span:nth-child(21) {
    --var-top: 9%;
    --var-left: 78%;
    --var-right: none;
    --var-width: 0.71;
    --var-bottom: none;
    --var-delay: 0.29s;
}
.bgSpacecraftCntn span:nth-child(22) {
    --var-top: 89%;
    --var-left: 73%;
    --var-right: none;
    --var-width: 0.62;
    --var-bottom: none;
    --var-delay: 3.87s;
}

.emptyGlossTextBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: #3018361a;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(8px);
    clip-path: var(--clip-type3);
}

.borderLineGloss {
    width: 93%;
    height: 93%;
    border-radius: 18px;
    border: 0.7px solid #fdc8fb4c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nomatchTextCntn{
    display: flex;
    align-items: center;
    overflow: hidden; 
    font-size: 5em;
}

.nomatchTextCntn p{
    font-family: var(--font-unica);
}
.nomatchTextCntn p:nth-child(1){
    color: #e298fd;
}
.nomatchTextCntn p:nth-child(2){
    color: var(--text-clr2);
    margin-left: 1rem;
}

.emptyGlossTextBox > p{
    font-size: 2em;
    color: var(--text-clr2);
    text-align: center;
    width: 60%;
    font-weight: 300;
}

.mainSearchArea.related > p {
    font-family: var(--font-unica);
    font-weight: 300;
    color: var(--primary-clr);
    font-size: 1.2em;
    margin-top: 0.5em;
}

.mainSearchArea.related > p span {
    font-size: 0.9em;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 200;
    color: var(--text-clr2);
}

.relatedSearchResBtnCntn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-block: 1em;
}

.relatedSearchResBtnCntn button{
    border: none;
    outline: none;
    clip-path: var(--clip-type1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-family: var(--font-unica);
    font-weight: 300;
    color: var(--text-clr2);
    padding: 10px 25px;
    cursor: pointer;
    transition:  background-color 0.35s ease;
}

.LoadMore{
    background-color: var(--primary-clr);
}
.LoadMore:hover{
    background-color: #a706f185;
}
.LoadMore:hover{
    background-color: #7d03b6d4;
}
.LoadLess{
    background-color: var(--sec-clr);
}
.LoadLess:hover{
    background-color: #be3c5cea;
}


@media screen and (max-width: 700px) {
    .GlossSect1 {
        position: static;
        gap: 0.5em;
        padding-inline: 2%;
        grid-template-columns: 0 1fr max-content;
    }

    .unitGlossWord{
        width: 95%;
    }

    .hamburger_Btn {
        display: none;
    }

    .GlossSect1.griChange {
        grid-template-columns: 0 1fr max-content;
        transition: grid-template-columns 0.25s ease;
    }

    .glossSearchBox ul {
        max-height: 220px;
    }

    .sideAlphabetTab {
        border-radius: 7px;
        border-right: none;
        gap: 10px;
        width: 50px;
        /* position: sticky;
        position: -webkit-sticky;
        top: 70px; */
    }

    .sideAlphabetTab button{
        background-color: #66516314;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    
        border: 0.5px solid;
        border-color: #a706f165;
        opacity: 0.97;
        width: 35px;
        border-radius: 5px;
        color: var(--text-clr2);
    
    }

    .emptyGlossSearchArea {
        aspect-ratio: 16/12;
    }
    
    
    .bgSpacecraftCntn img{
        margin-top: 9%;
        width: 68%;
    }

    .emptyGlossTextBox > p{
        font-size: 2em;
        color: var(--text-clr2);
        text-align: center;
        width: 80%;
        font-weight: 300;
    }

    .bgSpacecraftCntn span {
        width: calc(5px * var(--var-width));
        aspect-ratio: 1;
    }

    .meaningSect p{
        font-size: 1.05em;
    }

    .glossSearchInput {
        padding-right: 70px;
    }
}

@media screen and (max-width: 500px) {
    .mainSearchArea > h3{
        font-size: 3.5em;
    }

    .emptyGlossSearchArea {
        aspect-ratio: 12/14;
    }

    .emptyGlossTextBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background-color: #3018361a;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
    
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(10px);
        clip-path: var(--clip-type1);
    }
    
    .borderLineGloss {
        width: 93%;
        height: 93%;
        border-radius: 18px;
        border: 0.7px solid #fdc8fb4c;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .nomatchTextCntn{
        display: flex;
        align-items: center;
        overflow: hidden; 
        font-size: 3.7em;
    }

    .bgSpacecraftCntn img{
        margin-top: 30%;
        width: 78%;
    }
}
