:root {
    --primary-clr: #0672CD;
    --sec2-clr: #9864AD;
    --sec-clr: #D8A31A;
    --text-clr1: #F5F9FF;
    --text-deco: #F3F9FF;
    --white-purple: #b9dfff;
    --dark-clr1: #000613;
    --dark-clr2: #070e1e;
    --dark-clr3: #020d25;
    --dark-clr4: #002848;
    --dark-clr5: #070032;

    --opac-clr1: #00123345;
    --opac-clr2: #0263b37d;
    --opac-clr3: #364763a1;
  
    --danger-clr: #DC1262;
    --grey-clr: #5b574e;
    --linear-grad1: linear-gradient(180deg, #0672cd 40%, #d8a31a);
    --linear-grad2: linear-gradient(120deg, #0672cd , #d8a31a);
    --linear-grad3: linear-gradient(180deg,  #d8a31a, #0672cd, #d8a31a);

  
    --gen-padding: 10%;
    --btn-height: 40px;
  
  
    --font-alegreya: 'Alegreya Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-mont: 'Montserrat', sans-serif;
}

.HomefirstPageCtn{
    width: 100%;
}

section{
    overflow-x: hidden;
    overflow-block: visible;
}

.HomefirstPageCtn nav{
    width: 100%;
    height: 80px;
    background-color: var(--dark-clr2);
    padding-inline: var(--gen-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 300;
}


nav .logoCntn img{
    height: 30px;
    object-fit: contain;
    object-position: center;
}

.centerBox{
    display: flex;
    align-items: center;
    gap: 16px;
    align-items: center;
}

.centerBox a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.05em;
    font-weight: 500;
    color: var(--grey-clr);

    transition: color 0.4s ease;
}

.centerBox a:hover{
    color: var(--text-clr1);
}

.rightBox{
    display: flex;
    align-items: center;
    gap: 16px;
}

.fancyBtn{
    height: var(--btn-height);
    border-radius: 40px;
    background-image: linear-gradient(160deg, #0672cd 30%, #d8a31a, #0672cd 20%, #d8a31a);
    width: max-content;
    padding-inline: 25px;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--text-clr1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 200%;
    background-position: 0% 0%;

    transition: background-position 0.4s ease-in-out;
}

.fancyBtn:hover, .borderBtn:hover{
    background-position: 100% 0%;
}

.fancybg, .unitPackage.fancybg{
    background-image: linear-gradient(170deg, #0672cd, #d8a31a);
    position: relative;
    isolation: isolate;
}


.borderBtn{
    height: var(--btn-height);
    border-radius: 40px;
    background-image: linear-gradient(160deg, #0672cd 30%, #d8a31a, #0672cd 25%, #d8a31a);
    width: max-content;
    padding-inline: 25px;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--text-clr1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 200%;
    background-position: 0% 0%;
    position: relative;
    isolation: isolate;

    transition: background-position 0.4s ease-in-out;
}

.borderBtn::after, .fancybg::after{
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: var(--dark-clr2);
    border-radius: inherit;
    z-index: -1;
}

.profileIcon{
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    border: 1px solid var(--opac-clr2);
}

.profileIcon i{
    font-size: 1.4em;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--linear-grad2);
    /* color: var(--primary-clr); */
    pointer-events: none;
}

.absoluteProfiledIsplay{
    position: absolute;
    top: 120%;
    right: 0;
    width: 320px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--primary-clr);
}

.topdisplay{
    padding-block: 2em 20px;
    padding-inline: 20px;
    background-image: linear-gradient(to bottom, #21547e81, #042f52b6), url(/stacked_bg.png);
    background-color: var(--primary-clr);
}

.topdisplay h3{
    font-size: 1.6em;
    color: var(--text-deco);
    font-weight: 300;
}

.topdisplay h3 span {
    font-size: 0.38em;
    background-color: var(--dark-clr1);
    border-radius: 5px;
    padding: 4px;
}

.topdisplay p{
    font-size: 0.95em;
    color: var(--text-deco);
    font-weight: 400;
    margin-top: 10px;
}

.bottomDisplay{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
}

.bottomDisplay > *{
    background-color: var(--dark-clr1);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
    font-size: 0.92em;
    font-weight: 400;
    cursor: pointer;
    gap: 8px;
}




.menuBtn{
    width: 50px;
    aspect-ratio: 1;
    background-color: transparent;
    outline: none;
    border: none;

    display: none;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 4px;
    cursor: pointer;
}

.menuBtn span{
    width: 100%;
    height: 1.8px;
    border-radius: 15px;
    background-color: var(--text-deco);
}

.mobileNavSect{
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100dvh;
    background-color: var(--dark-clr2);
    z-index: 1000;
}

.topMobiNavSect{
    background-image: linear-gradient(to bottom, #21547e81, #042f52b6), url(/stacked_bg.png);
    height: 40%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.profileDisplay{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-end;
    padding: 30px;
    position: relative;
}

.profileDisplay p{
    font-size: 1.9em;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 16px;
}

.profileDisplay p a{
    padding: 4px 0px;
}

.profileDisplay h2{
    font-size: 3.5em;
    font-weight: 400;
}

.sidenavCloseBtn{
    position: absolute;
    top: 25px;
    right: 25px;
    width: 40px;
    padding: 2px;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
}

.sidenavCloseBtn span{
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--text-deco);
}

.sidenavCloseBtn span:nth-child(1) {
    transform: rotate(45deg) translateY(1px);
}
.sidenavCloseBtn span:nth-child(2) {
    transform: rotate(-45deg) translateY(-1px);
}

.bottomMobiNavSect{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 3em 30px;
}

.bottomMobiNavSect > *{
    padding-block: 5px;
    font-size: 1.6em;
    color: var(--text-deco);
    font-weight: 400;

    display: flex;
    gap: 12px;
    align-items: center;
}

.bottomMobiNavSect > * i{
    font-size: 1.1em;
    color: transparent;
    background-image: var(--linear-grad2);
    background-clip: text;
    -webkit-background-clip: text;
}

.bottomMobiNavSect .logout{
    width: 100%;
    border: none;
    outline: none;
    margin-top: 30%;
}

@media screen and (max-height: 670px) {
    .bottomMobiNavSect .logout{
        margin-top: 10%;
    }
}

.homeIntro{
    min-height: 530px;
    height: 100%;
    max-height: 180vh;
    background-color: var(--dark-clr1);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-inline: var(--gen-padding);
    background-image: linear-gradient(to bottom, #00061380, 40%, #000613), url(/bgimg_8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 50%;
    gap: 8px;
    padding-block: 4% 120px;
}


.homeIntro h1{
    color: var(--text-deco);
    text-align: center;
    font-size: 4.6em;
    font-weight: 500;
}

.homeIntro p{
    font-size: 1.7em;
    font-weight: 400;
    color: var(--text-clr1);
    text-align: center;
}


.homeIntro ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}

.homeIntro ul li{
    font-size: 1em;
    color: var(--text-deco);
    font-weight: 500;
}

.homeIntro ul li i{
    margin-right: 16px;
    color: var(--sec-clr);
    color: var(--primary-clr);
}

.homeIntro ul li span{
    color: var(--primary-clr);
}

.homeIntro .cta{
    margin-top: 16px;
}

.keyfactsCntn{
    width: 100%;
    padding-inline: 20px;
    display: flex;
}

.keyfacts{
    background-color: var(--dark-clr2);
    border-radius: 24px;
    padding: 36px 8%;
    display: flex;
    justify-content: space-between;
    min-width: 700px;
    width: 100%;
    max-width: 80vw;
    margin-inline: auto;

    transform: translateY(-60%);
}


.unitfact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unitfact h2{
    font-size: 2.5em;
    font-weight: 600;
    color: transparent;
    background-image: linear-gradient(120deg, #0672cd,  #d8a31a);
    -webkit-background-clip: text;
    background-clip: text;
}

.unitfact p{
    color: var(--text-deco);
    font-size: 1.2em;
    font-weight: 500;
}

.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 20px;
    padding-block: 7em;
    position: relative;
    isolation: isolate;
    gap: 4em;
    overflow-x: hidden;
}

.about > h2{
    font-size: 8em;
    font-weight: 300;
    columns: var(--text-deco);
    margin-inline: auto;
    text-align: center;
    width: max-content;
}

.whatareweabout{
    min-width: 700px;
    width: 100%;
    max-width: 80vw;
    margin-inline: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
}

.aboutimg{
    background-image: linear-gradient(to bottom, #00061380, 40%, #0006138f), url(/bgimg_9.jpg);
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}


.abouttext{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.abouttext h2{
    font-size: 3.5em;
    color: var(--primary-clr);
    font-weight: 400;
    background-image: linear-gradient(120deg, #0672cd, 60%,  #d8a31a);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    width: max-content;
}

.abouttext p{
    font-size: 1.2em;
    color: var(--text-deco);
    font-weight: 400;
    max-width: 50ch;
}

.abouttext p span{
    display: inline-block;
    background-color: var(--primary-clr);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 400;
}

.companyscopes{
    min-width: 700px;
    width: 100%;
    max-width: 80vw;
    margin-inline: auto;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr max-content 1fr max-content 1fr;
    gap: 2em;
}

.companyscopes .vertSept{
    height: 80%;
    border-radius: 10px;
    width: 0.8px;
    background-image: var(--linear-grad3);
    margin-block: auto;
}


.companyscopes .unitscope{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.companyscopes .unitscope h3{
    font-size: 1.7em;
    font-weight: 500;
    background-image: linear-gradient(160deg, #0672cd,  #d8a31a);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    width: max-content;
}
.companyscopes .unitscope p{
    font-size: 1.05em;
    color: var(--text-deco);
    font-weight: 400;
    text-align: center;
}

.features{
    width: 100%;
    background-image: linear-gradient(to bottom, var(--dark-clr2), var(--dark-clr3));
    min-height: 100vh;
    padding-block: 6em;
    padding-inline: 20px;
}

.features > h2{
    font-size: 5em;
    font-weight: 300;
    color: var(--text-clr1);
    text-align: center;
}

.thefeatureGrid{
    --grid-gap: 20px;
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
    align-items: center;
    width: 100%;
    min-width: 800px;
    max-width: 80vw;
    margin-inline: auto;
    padding-inline: 8%;

    margin-top: 5em;
}

.topSubgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap);
}

.lefttopSubgrid{
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
}

.lefttopSubgrid .gridunit{
    aspect-ratio: 16/9;
    background-color: var(--dark-clr4);
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #00133c43, 40%, #020a19), url(/bgimg_8.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.lefttopSubgrid .gridunit:nth-of-type(1){
    background-image: linear-gradient(to bottom, #00133c43, 40%, #001336f0), url(/bgimg_7.jpg);
}
.lefttopSubgrid .gridunit:nth-of-type(2){
    background-image: linear-gradient(to bottom, #00133c43, 40%, #001336f1), url(/coin_1.jpg);
}

.floater h3{
    font-size: 1.5em;
    color: var(--primary-clr);
}

.floater p{
    font-size: 1.6em;
    color: var(--text-deco);
    max-width: 100%;
    font-weight: 600;
}

.righttopsubgrid{
    height: 100%;
    background-color: var(--dark-clr4);
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #00133c43, 40%, #001336f1), url(/phone_3.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.floater{
    position: relative;
    isolation: isolate;
}

.floater::after{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border-radius: inherit;
    border: 1px solid rgba(92, 124, 252, 0.272);
    z-index: -1;
    top: 15px;
    left: 15px;
}

.bottomSubgrid{
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    align-items: center;
}

.leftbottomSubgrid{
    aspect-ratio: 16/6;
    background-color: var(--dark-clr4);
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #00133c5d, 40%, #001234), url(/save.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.rightBottomSubgrid{
    height: 100%;
    background-color: var(--dark-clr4);
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #00133c5d, 40%, #001234), url(/liquidity.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cta2{
    width: 100%;
    border-radius: 20px;
    padding: 1.5em 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px)  {
    .HomefirstPageCtn nav {
      overflow: hidden;
      height: 70px;
    }

    .menuBtn{
        display: flex;
    }

    #mobilenone{
        display: none;
    }

    .homeIntro{
        padding-block: 7% 100px;
    }

    .homeIntro h1{
        font-size: 3.6em;
    }

    .keyfacts{
        display: grid;
        padding: 20px;
        gap: 20px;
        transform: translateY(-40%);
        grid-template-columns: repeat(auto-fit, minmax(80px, 40%));
    }

    .about{
        padding-block: 4em 7em;
        gap: 4em;
    }

    .keyfacts, .whatareweabout, .companyscopes, .thefeatureGrid {
        min-width: 300px;
        width: 100%;
        max-width: 100vw;
    }

    .whatareweabout{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }

    .aboutimg{
        aspect-ratio: 16/9;
        height: 100%;
        width: 100%;
    }

    .companyscopes{
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2em;
    }

    .companyscopes .vertSept{
        height: 0.8px;
        border-radius: 10px;
        width: 80%;
        margin-inline: auto;
        background-image: var(--linear-grad2);
    }

    .topSubgrid{
        display: flex;
        flex-direction: column;
        gap: var(--grid-gap);
    }

    .thefeatureGrid{
        --grid-gap: 20px;
        margin-inline: auto;
        padding-inline: 0%;
    }

    .righttopsubgrid{
        width: 100%;
        aspect-ratio: 16/9;
        height: 100%;
    }

    .bottomSubgrid{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: var(--grid-gap);
        align-items: center;
    }
    
    .leftbottomSubgrid{
        aspect-ratio: 16/9;
    }
    .rightBottomSubgrid{
        width: 100%;
        aspect-ratio: 16/9;
        height: 100%;
    }

    .cta2{
        width: 100%;
        border-radius: 20px;
        padding: 2em 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
  
}

.leftCta2 h2{
    font-size: 1.5em;
    color: var(--text-deco);
    font-weight: 400;
    margin-bottom: 8px;
}

.leftCta2 h2 span{
    color: var(--primary-clr);
    font-size: 1.1em;
}

.leftCta2 p{
    font-size: 2.5em;
    font-weight: 500;
}

.pathToInvest{
    width: 100%;
    padding-inline: 20px;
    align-items: center;
    padding-block: 8em;
}

.pathToInvest > h2{
    font-size: 5em;
    font-weight: 300;
    color: var(--text-clr1);
    text-align: center;
}

.pathCntn{
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
    justify-content: space-between;
    width: 100%;
    max-width: 80vw;
    min-width: 600px;
    margin-inline: auto;
}

.unitPathSect{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    position: relative;
    isolation: isolate;
}

.unitPathSect > h2{
    font-size: 1.6em;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--linear-grad2);
    font-weight: 600;
    color: transparent;
}

.unitPathSect > p{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--text-deco);
    max-width: 80%;
    text-align: center;
}

.unitPathSect span{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 15em;
    font-family: var(--font-inter);
    font-weight: 700;
    color: var(--opac-clr1);
    transform: translateY(-20%);
    z-index: -1;
}

.packages{
    width: 100%;
    padding-block: 6em;
    background-color: var(--dark-clr5);
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;
    background-image: radial-gradient(circle, #002543c0, 5%, var(--dark-clr2));
}

.packages h2{
    font-size: 5em;
    font-weight: 300;
    color: var(--text-clr1);
    text-align: center;
}

.packagesCntn{
    width: 100%;
    min-width: 600px;
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.unitPackage{
    width: 280px;
    padding: 30px 20px;
    background: var(--dark-clr1);
    border-radius: 30px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    box-shadow: 0 0 7px #0673cd48;

    transition: transform 0.3s ease-in-out;
}

.unitPackage:hover{
    transform: scale(1.05);
    box-shadow: none;
}

.unitPackage h3{
    font-size: 1.5em;
    font-weight: 800;
    color: var(--opac-clr2);
}

.unitPackage h3 i{
    color: transparent;
    background-image: var(--linear-grad2);
    background-clip: text;
    -webkit-background-clip: text;
}

.unitPackage h4{
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
}

.unitPackage h4 span{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: var(--linear-grad2);
}

.unitPackage ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.unitPackage ul li{
    display: flex;
    gap: 8px;
}

.unitPackage ul i{
    color: var(--primary-clr);
    margin-right: 12px;
}

.unitPackage a, .unitPackage button{
    margin-top: 1em;
    border: none;
    outline: none;
    cursor: pointer;
}

.unitPackage.fancybg{
    min-height: 470px;
}

.iframesect{
    width: 100%;
    padding-inline: 20px;
    display: flex;
    align-items: center;
}

.iframeCntn{
    width: 100%;
    max-width: 80%;
    min-width: 600px;
    padding: 0;
    min-height: 472px;
    margin-inline: auto;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.testimonies{
    width: 100%;
    padding-inline: 20px;
    align-items: center;
    padding-block: 8em;
}

.testimonies > h2{
    font-size: 5em;
    font-weight: 300;
    color: var(--text-clr1);
    text-align: center;
}
.testimonies > p{
    font-size: 2.5em;
    font-weight: 400;
    color: var(--primary-clr);
    text-align: center;
}

.videograndCntn{
    --carou-gap: 16px;
    min-width: 300px;
    width: 100%;
    max-width: 80vw;
    margin-inline: auto;
    position: relative;
}

.videoTestimonies{
    width: 100%;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    gap: var(--carou-gap);
    margin-top: 4em;

    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 10px;
    overscroll-behavior-inline: contain;

    overflow-x: scroll;
}



.videoTestimonies:has(> .active) > *{
    opacity: 0.4;
}
.videoTestimonies:has(> .active) > .active{
    opacity: 1;
}

.videoTestimonies > *{
    scroll-snap-align: start;
}

.videoTestimonies::-webkit-scrollbar{
    display: none;
}

.unittestimony{
    aspect-ratio: 1;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-clr2);
    border-radius: 10px;
    overflow: hidden;
}

.unittestimony.active{
    opacity: 1;
}

.unittestimony.active .overlay{
    pointer-events: none;
    opacity: 0;
}

.unittestimony.active:hover .overlay{
    pointer-events: all;
    opacity: 1;
}

.unittestimony > video{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.unittestimony .overlay{
    background-image: linear-gradient(to bottom, #020d253f, #010c22e4);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.unittestimony .overlay button{
    width: 55px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--text-deco);
    outline: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.unittestimony .overlay button:hover{
    transform: scale(1.1);
}

.unittestimony .overlay button i{
    font-size: 25px;
    color: var(--primary-clr);
}

.videograndCntn .scrollbtncntn{
    width: 100%;
    padding-block: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.videograndCntn .scrollbtncntn button{
    height: 100%;
    border: none;
    outline: none;
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #002668d7;
    cursor: pointer;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transform: background-color 0.4s ease;
}

.videograndCntn .scrollbtncntn button:hover{
    background-color: #0e234b;
}

.videograndCntn .scrollbtncntn button i{
    font-size: 3em;
    color: var(--primary-clr);
}

.intersect{
    width: 100%;
    padding-block: 4em 0em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intersect p{
    font-size: 2.5em;
    font-weight: 400;
    color: var(--primary-clr);
    text-align: center;
}

.user_testimony h4{
    font-size: 1.2em;
    color: var(--text-deco);
    font-weight: 300;
    text-align: center;
}

.user_testimony p{
    font-size: 1.4em;
    font-weight: 500;
    color: var(--primary-clr);
    text-align: center;

    margin-top: 1em;
}

.FAQ{
    background-color: var(--dark-clr2);
    padding-inline: 20px;
    padding-block: 5em;
}

.questionCntn{
    width: 100%;
    min-width: 700px;
    max-width: 80vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2.5em;
    margin-inline: auto;
}

@media screen and (max-width: 600px)  {

    .pathCntn, .packagesCntn, .questionCntn, .iframeCntn, .videograndCntn {
        min-width: 300px;
        width: 100%;
        max-width: 100vw;
    }

    .pathCntn{
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        gap: 4em;
        height: max-content;
    }

    .unitPathSect span{
        font-size: 19em;
        transform: translate(38%, -30%);
    }

    .packagesCntn{
        flex-direction: column;
    }

    .unitPackage{
        width: 100%;
        padding: 30px 20px;
        background: var(--dark-clr1);
        border-radius: 30px;
        min-height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-bottom: 50px;
    }

    .unitPackage h3{
        font-size: 1.8em;
    }
    
    .unitPackage h4{
        font-size: 3.5em;
        font-weight: 600;
    }

    .unitPackage ul{
        gap: 16px;
    }

    .unitPackage ul li{
        font-size: 1.5em;
        font-weight: 300;
    }

    .unitPackage a{
        margin-top: 1em;
        width: 100%;
    }

    .videoTestimonies{
        grid-auto-flow: column;
        grid-auto-columns: 80%;
    }

    .videograndCntn .scrollbtncntn button{
        width: 10px;
    }

    .questionCntn{
        display: flex;
        flex-direction: column;
        gap: 2.5em;
        margin-inline: auto;
    }
}

.leftFAQ h2{
    font-size: 3em;
    color: var(--text-deco);
    font-weight: 400;
    text-align: center;
    margin-top: 1em;
}

.rightFAQ{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unitQuestion{
    width: 100%;
    display: grid;
    grid-template-rows: max-content 1fr;
    overflow: hidden;

    border-bottom: 1px solid var(--opac-clr3);
    transition: all 0.4s ease-in-out;
}

.questionHeading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5em;
    background-color: transparent;
    cursor: pointer;
}

.questionHeading h3{
    font-size: 1.45em;
    color: var(--text-deco);
    font-weight: 500;
}

.questionHeading i{
    font-size: 1.7em;
    color: var(--text-deco);
    font-weight: 500;

    transition: rotate 0.25s ease-in-out;
}

.answerBody{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-block: 5px 1em;
}

.answerBody p{
    font-size: 1.3em;
    font-weight: 300;
    color: var(--text-deco);
}

.answerBody p span{
    font-weight: 500;
    color: var(--primary-clr);
}

.rightFAQ > p{
    font-size: 1.1em;
    font-weight: 300;
    color: var(--text-deco);
    padding-block: 1.5em;
    width: 100%;
}
.rightFAQ > p a{
    font-size: 0.98em;
    font-weight: 500;
    color: var(--primary-clr);
}

.homefooter{
    width: 100%;
    padding-inline: 5%;
    background-color: var(--dark-clr2);
    border-top: 1px solid var(--opac-clr3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 4em;

    overflow: hidden;
}

.topper{
    min-width: 600px;
    width: 100vw;
    max-width: 80vw;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 30px;
    align-items: center;
    margin-inline: auto;
}

.topper img{
    height: 40px;
    object-fit: contain;
    object-position: center;
}

.topper span{
    height: 1px;
    background-color: var(--opac-clr3);
    border-radius: 3px;
}

.socials_1{
    display: flex;
    gap: 16px;
    align-items: center;
}

.socials_1 a{
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid var(--opac-clr3);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: border 0.36s ease;
}

.socials_1 a:hover {
    border: 1px solid var(--grey-clr);
}

.socials_1 a img{
    height: 90%;
    object-fit: contain;
    object-position: center;
}

footer .faller{
    display: grid;
    gap: 4em;
    grid-template-columns: max-content 1fr max-content;
    padding-block: 3em;
    border-bottom: 1px solid var(--opac-clr3);
}

.leftFaller{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.leftFaller .unitoptionFaller{
  border-left: 2px solid var(--opac-clr3); 
  padding-left: 15px; 

  transition: border 0.36s ease;
}

.leftFaller .unitoptionFaller:hover{
    border-left: 2px solid var(--primary-clr);
}

.leftFaller .unitoptionFaller:hover p{
    transform: translateX(10px);
}

.unitoptionFaller p{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--text-deco);

    transition: transform 0.36s ease;
}

.centerFaller h4{
    font-size: 1.2em;
    font-weight: 400;
    color: var(--text-deco);
}

.centerFaller > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}

.centerFaller .address_1{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.address_1 h5{
    font-size: 1.2em;
    font-weight: 400;
    color: var(--primary-clr);
    margin-bottom: 8px;
}

.address_1 p{
    font-size: 0.98em;
    font-weight: 300;
    column-rule: var(--text-deco);
}


.rightfaller{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 30px;
    padding: 20px;
    margin-block: auto;
}

.rightfaller h4{
    font-size: 1.5em;
    color: var(--grey-clr);
    text-align: center;
    max-width: 15ch;
    font-weight: 500;
}

.secndFootersect{
    padding-block: 4em;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border-bottom: 1px solid var(--opac-clr3);

    min-width: 600px;
    width: 100vw;
    max-width: 80vw;
}

.secndFootersect .left{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
}

.secndFootersect p{
    font-size: 0.86em;
    color: var(--grey-clr);
    font-weight: 400;
}

.secndFootersect .right{
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.secndFootersect .right > div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.secndFootersect .right img{
    width: 50px;
}

.thirdfooterSect{
    padding-top: 2em;
    display: flex;
    gap: 30px;
    justify-content: space-between;

    min-width: 600px;
    width: 100vw;
    max-width: 80vw;
}

.thirdfooterSect p{
    font-size: 0.86em;
    color: var(--grey-clr);
    font-weight: 400;
}

@media screen and (max-width: 600px)  {

    .topper, .faller, .secndFootersect, .thirdfooterSect{
        min-width: 300px;
        width: 100%;
        max-width: 100vw;
    }

    .topper{
        display: flex;
        flex-direction: column;

        padding-inline: 5%;
    }

    .socials_1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .socials_1 a{
        height: 60px;
    }

    footer .faller{
        display: flex;
        flex-direction: column;
        gap: 5em;
    } 

    .leftFaller{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .centerFaller h4{
        font-size: 1.9em;
        font-weight: 300;
        color: var(--text-deco);
    }

    .rightfaller a{
        width: 100%;
    }

    .secndFootersect{
        flex-direction: column;
    }

    .secndFootersect .left{
        gap: 16px;
        width: 100%;
    }

    .secndFootersect .right{
        flex-direction: row;
    }

}























