:root {
    --primary-clr: #ffa86a;
    --sec-clr: #fe7e22;
    --text-clr1: #fffbf7;
    --text-deco: #eee8e2e3;
    --dark-clr1: #030303;
    --dark-clr2: #000000;
    --bg1-opac05: #0000006e;
    --bg1-opac02: #00000022;

    --grey-opac: #9c9793ca;
  
    --borderline-clr: #ffa86a7f;
    --borderline-clr2: #fe7e2289;

    --rad-grad: radial-gradient(#ffa86ab3 0%, rgba(64, 42, 28, 0) 77%, rgba(7, 5, 5, 0) 100%);
  
    --gen-padding: 16%;
    --small-padding: 5%;
    --vader-right: 15%;

  
    --font-unica: "Unica One", sans-serif;
    --font-sedgwick: 'Sedgwick Ave Display', cursive;
    --font-roboto: 'Roboto', sans-serif;
    --font-forum: 'Forum', cursive;
}


.HomefirstPageCtn{
    width: 100%;
    background-color: var(--dark-clr1);
    overflow: hidden;
}

.homefirstsect{
    width: 100%;
    height: 100vh;
    min-height: 700px;
    position: relative;
    isolation: isolate;
    background-image: linear-gradient(to bottom, #60412b, var(--dark-clr1), var(--dark-clr1));
    padding-bottom: 2px;
    overflow: hidden;
}



.overlaysect{
    --sect1-bootompad: 7%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, var(--bg1-opac05), 87%, var(--dark-clr1));
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(2px);
    isolation: isolate;
    display: flex;
    flex-direction: column;
    padding-bottom: var(--sect1-bootompad);

    user-select: none;
}

.vaderImg{
    position: absolute;
    right: var(--vader-right);
    top: 8.5%;
    opacity: 0.55;
    transition: opacity 0.62s ease;
    z-index: -1;
    height: 86%;
    object-fit: contain;
    object-position: center;
    animation-timing-function: ease-in-out;
    display: flex;

    transform-origin: left bottom;
}


.vaderImg:hover{
    opacity: 1;
}

.overlaysect nav{
    width: 100%;
    padding-inline: var(--small-padding);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.overlaysect nav .leftnavsect{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    margin-left: 9%;
}



.overlaysect nav .leftnavsect a{
    font-size: 1.01em;
    font-size: 700;
    color: var(--grey-opac);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;


    transition: color 0.3s ease;
}

.overlaysect nav .leftnavsect a:hover{
    color: var(--primary-clr);
}

.overlaysect nav .center{
    display: flex;
    align-items: center;
    height: 100%;
}

.overlaysect nav .center > img{
    width: 50px;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
}

.overlaysect nav .rightnavsect{
    width: max-content;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.05em;
    color: var(--text-clr1);

    transition: color 0.3s ease;
    margin-left: auto;
}

.overlaysect nav .rightnavsect::after{
    content: "";
    width: 45px;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 0.5px solid var(--borderline-clr);
    position: absolute;
    transform: translate(40%, -25%) scale(1);
    top: 0;
    right: 0;
    padding: 5px;
    transform-origin: center;

    transition: transform 0.3s ease;
}

.overlaysect nav .rightnavsect:hover{
    color: var(--primary-clr);
}

.overlaysect nav .rightnavsect:hover::after{
    transform: translate(40%, -22%) scale(0.4);
}

.mainsect{
    margin-block: auto;
    margin-left: var(--gen-padding);
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: max-content;
    padding-top: 3%;
}

.mainsect .lilHead{
    color: var(--primary-clr);
    font-size: 1.25em;
    font-weight: 400;
    font-family: var(--font-forum);
}

.mainsect h1{
    font-size: 6.95em;
    color: var(--text-clr1);
    font-family: var(--font-forum);
    font-weight: 400;
}

.mainsect .topText{
    font-size: 1em;
    font-weight: 200;
    color: var(--text-deco);
    width: 40ch;
}


.abssectText{
    position: absolute;
    left: calc(var(--small-padding) + 1.1em);
    bottom: var(--sect1-bootompad);
    font-size: 1.1em;
    font-weight: 400;
    color: var(--grey-opac);
    transform: rotate(-90deg);
    transform-origin: left bottom;
}

.abssectText span{
    color: var(--text-clr1);
}



.scrolldownButtonCntn {
    --circle-width: 150px;
    position: absolute;
    bottom: 70px;
    right: calc(var(--vader-right) * 2);
    display: flex;
    align-items: center;
    justify-content: center;   
    
    transform: center bottom;
}
.scrolldownButtonCntn.contact{
    --circle-width: 250px;
    bottom: 0px;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 20;
}

.scrolldownButtonCntn > a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--circle-width) - 4em);
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    background-color: var(--primary-clr);
    z-index: 3;
}

.scrolldownButtonCntn > a img{
    height: 50px;
    animation: hoverer 1.5s ease-in-out alternate infinite;
}

.scrolldownButtonCntn:hover .circleText{
    scale: 0.9;
}

.circleText {
    width: var(--circle-width);
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotator 8s linear infinite;
    transform-origin: center;

    transition: scale 0.3s ease;
}

@keyframes rotator {
    to{
        transform: rotate(360deg);
    }
}

.circleText p{
    position: absolute;
    height: 100%;
    width: 100%;
}

.circleText p span{
    color: var(--text-clr1);
    font-family: var(--font-sedgwick);
    font-weight: 500;
    font-size: 0.9em;
    position: absolute;
    left: 50%;
    transform-origin: 0 calc(var(--circle-width) / 2);
}

.circleText.contact p span{
    font-size: 1.4em;
    font-family: var(--font-sedgwick);
    color: var(--primary-clr);
    font-weight: 300;
}

@keyframes hoverer {
    to{
        transform: translateY(15%);
    }
}

.absSocialLinks{
    position: absolute;
    right: var(--small-padding);
    bottom: var(--sect1-bootompad);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.absSocialLinks a{
    font-size: 1.1em;
    color: var(--text-clr1);
    padding: 3px;
    width: max-content;

    transition: color 0.25s ease;
}

.absSocialLinks a:hover{
    color: var(--primary-clr);
}

.absSocialLinks a.github > span{
    background-image: url(/gti_white0.svg);
    background-size: contain;
    background-position: center;
    width: 1.5em;
    aspect-ratio: 1;
    display: inline-block;
}

.absSocialLinks a.github:hover span{
    background-image: url(/git_brown0.svg);
}

.bgBall{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    z-index: -1;
    background-image: var(--rad-grad);
    filter: blur(50px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homeSecondSect{
    width: 100%;
    height: 100vh;
    min-height: 500px;
    position: relative;
    isolation: isolate;
    padding-bottom: 2px;
    overflow: hidden;
}

.homeSecondSect .overlaysect{
    padding-inline: var(--gen-padding);
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
    padding-bottom: 0px;
    align-items: center;
}

.aboutImage {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;

    transform-origin: left bottom;
}

.aboutImage > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 0% center;
    opacity: 0.77;

    transition: opacity 0.35s ease;
}

.aboutImage > img:hover{
    opacity: 1;
}

.aboutDetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width: 600px)  {
    .homefirstsect, .homeSecondSect{
        padding-bottom: 1px;
    }
    .vaderImg{
        height: 58%;
        right: -23%;
        top: 10%;
        opacity: 1;
    }

    .overlaysect nav .leftnavsect{
        display: none;
    }

    .mainsect h1{
        font-size: 6.95em;
        max-width: 86%;
    }

    .abssectText{
        display: none;
    }

    .scrolldownButtonCntn {
        --circle-width: 30vw;
    }

    .scrolldownButtonCntn > a img{
        height: 60%;
    }

    .absSocialLinks{
        display: none;
    }

    .homeSecondSect{
        height: max-content;
        min-height: max-content;
    }

    .homeSecondSect .overlaysect{
        flex-direction: column;
        gap: 50px;
        padding-block: 4em;
    }

    .aboutImage {
        width: 70%;
    }

    .aboutDetails {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
}

@media screen and (max-height: 680px) {
    .mainsect{
        margin-top: 5em;
    }
}

.aboutDetails h2{
    font-size: 4.4em;
    font-family: var(--font-forum);
    font-weight: 500;
    color: var(--text-clr1);
}

.aboutDetails p{
    color: var(--text-deco);
    font-size: 1.01em;
}

.bgBall.ball2{
    left: calc(var(--gen-padding) + 200px);
}

.viewMyWork{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;

    margin-top: 15px;
}

.viewMyWork:hover p{
    color: var(--primary-clr);
}

.viewMyWork > p{
    color: var(--text-clr1);
    font-size: 0.95em;
    text-transform: uppercase;

    transition: color 0.25s ease;
}

.viewMyWork:hover .viewWorkLink > img{
    transform: rotate(0deg);
}

.viewWorkLink{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 0.5px solid var(--text-deco);
    transform: translateX(-15%);
}

.viewWorkLink > img{
    height: 40%;
    object-fit: contain;
    object-position: center;
    transform: rotate(-90deg);

    transition: transform 0.3s ease;
}

.homethirdSect{
    width: 100%;
    min-height: 100vh;
    isolation: isolate;
    position: relative;
    padding-bottom: 2px;
    overflow: hidden;
}

.homethirdSect .overlaysect{
    padding-inline: var(--small-padding);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-block: 5em;
    align-items: center;
}

.homethirdSect .overlaysect h2 {
    font-size: 4.65em;
    font-family: var(--font-forum);
    font-weight: 500;
    width: 100%;
    color: var(--text-clr1);
    text-align: left;
}

.stackDisplay{
    width: 100%;
    min-height: 690px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    padding-inline: calc(var(--gen-padding) - var(--small-padding));

    transform-origin: center;
}

.stackDisplay > img{
    width: 40%;
    object-fit: cover;
    object-position: center;
}

.stackDisplay p{
    position: absolute;
    border: 1px solid var(--borderline-clr);
    border-radius: 20px;
    width: 200px;
    aspect-ratio: 16/9;
    background-color: #2f190813;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(9px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-between;

    font-size: 2em;
    font-family: var(--font-forum);
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 2px 5px #ffa86a00;
    cursor: pointer;

    transition: transform 0.3s ease, box-shadow 0.25s ease-in-out;
}

.stackDisplay p:hover{
    transform: translate(-50%, -10px);
    box-shadow: 0 5px 10px #ffa86a46;
}

.stackDisplay p span{
    width: 60%;
    height: 0.5px;
    background-color: var(--borderline-clr);
    border-radius: 10px;
    display: inline-block;
}

.stackDisplay p.unitStackBox2{
    top: 22%;
    left: 70%;
}
.stackDisplay p.unitStackBox3{
    top: 22%;
    left: 30%;
}
.stackDisplay p.unitStackBox4{
    top: 48%;
    left: 25%;
}
.stackDisplay p.unitStackBox5{
    top: 48%;
    left: 75%;
}
.stackDisplay p.unitStackBox6{
    top: 78%;
    left: 60%;
}
.stackDisplay p.unitStackBox7{
    top: 78%;
    left: 40%;
}

.stackDetail{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
}

.stackDetail > p{
    color: var(--text-deco);
    font-size: 1.01em;
    text-align: center;
    max-width: 80%;
    min-width: 400px;
}

.stackDetail > p span{
    color: var(--borderline-clr);
}

.homeFourthSect{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 2px;
    isolation: isolate;
    position: relative;
    overflow: hidden;
}

.homeFourthSect .overlaysect{
    padding-block: 6em 12em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.homeFourthSect .overlaysect h2 {
    font-size: 4.65em;
    font-family: var(--font-forum);
    font-weight: 500;
    width: 100%;
    color: var(--text-clr1);
    text-align: left;
    margin-left: var(--small-padding);
}

.worksMainSect{
    display: flex;
    padding-inline: var(--gen-padding);
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.worksMainSect .leftWorkBox{
    width: 46%;
    aspect-ratio: 9/10;
    position: relative;
    overflow: visible;
}

.worksMainSect .leftWorkBox::after{
    content: "";
    position: absolute;
    top: 4%;
    left: 4%;
    border-radius: 15px;
    border: 0.5px solid var(--borderline-clr);
    z-index: 5;
    width: 100%;
    height: 100%;
}

.worksMainSect .leftWorkBox > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.worksMainSect .rightWorkBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: max-content;
    width: 46%;
    gap: 3em;
}

@media screen and (max-width: 600px) {
    .homethirdSect{
        width: 100%;
        min-height: 100vh;
        padding-bottom: 1px;
    }

    .homethirdSect .overlaysect{
        padding-inline: var(--gen-padding);
        gap: 50px;
        padding-block: 5em;
    }

    .stackDisplay{
        width: 100%;
        min-height: max-content;
        padding-inline: 0px;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .stackDisplay > img{
        width: 90%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        bottom: 0%;
        right: 0%;
    }

    .stackDisplay > div{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .stackDisplay p{
        position: static;
        width: 47%;
        aspect-ratio: 16/10;
        padding: 10px;
        margin-inline: auto;
        border-radius: 10px;

        top: 0px;
        left: 0px;
        transform: translate(0%, 0);
    }

    .stackDisplay p:hover{
        transform: translate(0%, 0px);
        box-shadow: none;
    }

    .stackDetail > p{
        text-align: left;
        max-width: max-content;
        min-width: 100%;
    }

    .homeFourthSect{
        min-height: max-content;
        padding-bottom: 1px;
        overflow: hidden;
    }
    
    .homeFourthSect .overlaysect{
        padding-block: 6em 6em;
        width: 100%;
        gap: 5em;
    }

    .worksMainSect{
        display: flex;
        padding-inline: var(--gen-padding);
        gap: 0px;
        justify-content: space-between;
        align-items: center;
        height: max-content;
    }
    
    .worksMainSect .leftWorkBox{
        display: none;
    }

    .worksMainSect .rightWorkBox{
        display: flex;
        flex-direction: column;
        width: 100%;
        aspect-ratio: 1/max-content;
        min-height: max-content;
        gap: 25px;
        padding-bottom: 0px;
    }
}

.unitWorkBox > a{
    font-size: 2.55em;
    font-family: var(--font-forum);
    font-weight: 500;
    color: var(--text-clr1);
    transition: color 0.25s ease;
}

.unitWorkBox > a:hover{
    color: var(--primary-clr);
}

.unitWorkBox > a span{
    display: inline-block;
    font-size: 0.35em;
    color: var(--primary-clr);
    transform: rotate(10deg);
}

.unitWorkBox > a span i{ 
    font-size: 1.3em;
    color: var(--primary-clr);
}

.bottomWorkboxUnit{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.bottomWorkboxUnit > p{
    font-size: 1.2em;
    color: var(--primary-clr);
}

.bottomWorkboxUnit .visit_site{
    width: max-content;
    display: flex;
    align-items: center;
}

.bottomWorkboxUnit .visit_site:hover p{
    color: var(--primary-clr);
}
.bottomWorkboxUnit .visit_site:hover .visitSiteLink > img{
    transform: rotate(-135deg);
}

.bottomWorkboxUnit .visit_site p{
    font-size: 0.97em;
    color: var(--text-deco);
    word-wrap: none;
    word-break: keep-all;
    display: block;
    width: max-content;

    transition: color 0.25s ease;
}

.visit_site .visitSiteLink{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid var(--text-deco);
    z-index: -1;

    transform: translateX(-15%);
}

.visit_site .visitSiteLink > img{
    height: 50%;
    object-fit: contain;
    object-position: center;
    transform: rotate(-90deg);

    transition: transform 0.3s ease;
}

.topImageDisplay{
    display: none;
    width: 100%;
    aspect-ratio: 16/8;
    position: relative;
}

.worksMainSect .topImageDisplay::after{
    content: "";
    position: absolute;
    top: 5%;
    left: 3%;
    border-radius: 15px;
    border: 0.5px solid var(--borderline-clr);
    z-index: 5;
    width: 100%;
    height: 100%;
}

.topImageDisplay > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px; 
}

.worksMainSect .rightWorkBox .hrDiv{
    width: 100%;
    min-height: 1px;
    border-radius: 10px;
    background-color: var(--borderline-clr);
}

.intersection{
    width: 100%;
    height: 300px;
    position: relative;
    user-select: none;
}

.intersection > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(50%);
}

.homefifthSect{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 2px;
    isolation: isolate;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .worksMainSect .rightWorkBox .hrDiv{
        min-height: 1px;
        opacity: 0.8;
    }

    .unitWorkBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        padding-block: 20px;
    }

    .topImageDisplay{
        display: flex;
        align-items: center;
        justify-content: baseline;
        background-color: var(--borderline-clr);
        width: 100%;
        aspect-ratio: 16/8;
        border-radius: 15px;
    }

    .bottomWorkboxUnit{
        gap: 10px;
        margin-top: -10px;
        width: 100%;
    }

    .intersection{
        height: 150px;
    }

    .scrolldownButtonCntn.contact{
        --circle-width: 40vw;
    }

    .homefifthSect{
        padding-bottom: 1px;
    }
}

.homefifthSect .overlaysect{
    width: 100%;
    padding-inline: var(--gen-padding);
    padding-block: 12em 2.5em;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.homefifthSect .overlaysect h2{
    font-size: 9.5em;
    font-weight: 500;
    font-family: var(--font-forum);
    color: var(--text-clr1);
    width: max-content;
    cursor: pointer;
    margin-inline: auto;
    position: relative;

    transition: color 0.2s ease;
}

.homefifthSect .overlaysect h2::after{
    content: "";
    width: 30%;
    height: 0.7px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--grey-opac);
    z-index: 5;
    border-radius: 10px;

    transition: width 0.35s ease-in-out;
}

.homefifthSect .overlaysect h2:hover{
    color: var(--primary-clr);
}

.homefifthSect .overlaysect h2:hover::after{
    background-color: var(--borderline-clr);
    width: 60%;
}

.contactForm{
    --input-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    position: relative;
}

.contactForm img{
    position: absolute;
    left: 45%;
    bottom: 15%;
    z-index: -1;
    display: flex;
    object-fit: contain;
    width: 90%;
    opacity: 0.56;

    transform-origin: right bottom;
}


.contactForm input{
    height: var(--input-height);
    width: 100%;
    font-size: 3em;
    padding-left: 40px;
    border-radius: 15px;
    border: 1px solid var(--borderline-clr);
    background-color:  var(--bg1-opac05);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-deco);

    transition: background-color 0.2s ease;
}

.contactForm input:focus, .contactForm textarea:focus {
    background-color: #97725832;
}


.contactForm textarea{
    width: 100%;
    font-size: 3em;
    padding: 20px 40px;
    border-radius: 15px;
    border: 1px solid var(--borderline-clr);
    background-color:  var(--bg1-opac05);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-deco);
    transition: background-color 0.2s ease;
}

.contactForm textarea::-webkit-scrollbar{
    display: none;
}

.contactForm button{
    width: 170px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid var(--borderline-clr);
    background-color: var(--bg1-opac05);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 2em;
    color: var(--text-clr1);
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

.contactForm button:hover{
    color: var(--dark-clr1);
}

.contactForm button:hover::after{
    transform: translateY(-100%);
}

.contactForm button::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--primary-clr);
    z-index: -1;
    transition: transform 0.35s ease-in-out;
    box-shadow: inset 20px 20px 40px #090402be, inset -20px -20px 40px #a05e1c73;
}

.bgBall.ball5{
    width: 700px;
    top: 20px;
}

.homeFooter{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.homeFooter p{
    width: 100%;
    text-align: center;
    font-size: 1.15em;
    color: var(--text-deco);
}

.footersocialLinks{
    display: flex;
    gap: 30px;
    align-items: center;
}

.footersocialLinks a{
    padding: 10px 50px;
    /* width: 400px; */
    border-radius: 50px;
    border: 1px solid var(--grey-opac);
    color:var(--primary-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.94em;

    transition: background-color 0.3s ease;
}

.footersocialLinks a:hover{
    color: var(--dark-clr1);
    background-color: var(--primary-clr);
    border: 1px solid var(--borderline-clr);
}

@media screen and (max-width: 600px) {
    .homefifthSect .overlaysect h2{
        font-size: 7.5em;
    }

    .homefifthSect .overlaysect{
        width: 100;
        padding-block: 10em 2.5em;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .contactForm{
        --input-height: 70px;
        width: 100%;
        gap: 20px;
    }

    .contactForm input{
        height: var(--input-height);
        width: 100%;
        font-size: 1.6em;
        padding-left: 20px;
        border-radius: 12px;
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    }

    .contactForm textarea{
        width: 100%;
        font-size: 1.6em;
        padding: 12px 20px;
        border-radius: 12px;
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        height: 200px;
    }

    .contactForm button{
        width: 130px;
        aspect-ratio: 1;
    }

    .contactForm img{
        position: absolute;
        left: 15%;
        bottom: 20%;
        z-index: -1;
        display: flex;
        object-fit: contain;
        width: 100%;
        opacity: 0.56;
    
        transform-origin: right bottom;
    }

    .footersocialLinks{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        align-items: center;
    }
    
    .footersocialLinks a{
        padding: 7px 10px;
        border-radius: 50px;
        border: 1px solid var(--grey-opac);
        color:var(--primary-clr);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.94em;
    
        transition: background-color 0.3s ease;
    }
}

.transOverlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0;
    pointer-events: none;
}

.specTrans{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark-clr1);
}

.transOverlay > div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transOverlay > div img{
    width: 70%;
    object-fit: contain;
    object-position: center;
}

.transOverlay .black{
    background-color: var(--dark-clr1);
}
.transOverlay .white{
    background-color: var(--text-clr1);
}
.transOverlay .brown{
    background-color: var(--primary-clr);
}

.toaster{
    border-radius: 10px;
    position: fixed;
    right: 2%;
    top: 3%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: #6226002d;
    border: 1px dashed var(--borderline-clr);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: max-content;
}

.toaster p{
    font-size: 1.07em;
    color: var(--text-deco);
}

.toaster button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--primary-clr);
    font-size: 0.95em;
    color: var(--dark-clr1);

    border: none;
    outline: none;
    cursor: pointer;
}