:root {
  --primary-clr: #a706f1;
  --sec-clr: #ff5882;
  --brown-clr1: #ff964e;
  --brown-clr2: #ffcb4b;
  --blue-clr: #0086ff;
  --text-clr2: #f9d9f9;
  --text-clr1: #fff6ff;
  --dark-clr1: #090208;
  --dark-clr2: #241822;
  --secBg-clr: #42273f;
  --bg1-opac05: #130711b2;
  --bg1-opac09: #130711e6;
  --bg1-opac02: #1307115d;
  --bg2-opac05: #2418227b;
  --bg2-opac02: #2418224e;
  --bg2-opac07: #241822da;
  --bg2-opac09: #241822ea;

  --borderline-clr: rgba(128, 128, 128, 0.401);
  --borderline-clr2: rgba(128, 128, 128, 0.106);

  --gen-padding: 10%;
  --small-padding: 5%;

  --clip-type1: polygon(
    0% 0%,
    35% 0%,
    40% 3%,
    60% 3%,
    65% 0%,
    100% 0%,
    100% 35%,
    99% 40%,
    99% 60%,
    100% 65%,
    100% 100%,
    65% 100%,
    60% 97%,
    40% 97%,
    35% 100%,
    0% 100%,
    0% 65%,
    1% 60%,
    1% 40%,
    0% 35%,
    0% 0%
  );
  --clip-type3: polygon(
    0% 0%,
    35% 0%,
    40% 3%,
    60% 3%,
    65% 0%,
    100% 0%,
    100% 35%,
    97% 40%,
    97% 60%,
    100% 65%,
    100% 100%,
    65% 100%,
    60% 97%,
    40% 97%,
    35% 100%,
    0% 100%,
    0% 65%,
    3% 60%,
    3% 40%,
    0% 35%,
    0% 0%
  );
  --clip-type2: polygon(
    5% 0%,
    35% 0%,
    40% 3%,
    60% 3%,
    65% 0%,
    95% 0%,
    100% 5%,
    100% 95%,
    95% 100%,
    65% 100%,
    60% 97%,
    40% 97%,
    35% 100%,
    5% 100%,
    0% 95%,
    0% 5%
  );

  --font-unica: "Unica One", sans-serif;
  --font-jost: "Jost", sans-serif;
  --font-IBM: "IBM Plex Mono", monospace;
  --font-metro: "Metrophobic", sans-serif;
}

.solarsystemHomePage.playground {
  background: radial-gradient(
      var(--bg2-opac07) 15%,
      transparent 16%,
      transparent 49%,
      var(--bg2-opac07) 50%,
      transparent 51%
    ),
    radial-gradient(
      circle at top left,
      var(--bg2-opac07) 10%,
      transparent 10%,
      transparent 39%,
      var(--bg2-opac07) 40%,
      transparent 41%
    ),
    radial-gradient(
      circle at top right,
      var(--bg2-opac07) 10%,
      transparent 10%,
      transparent 39%,
      var(--bg2-opac07) 40%,
      transparent 41%
    ),
    radial-gradient(
      circle at bottom left,
      var(--bg2-opac07) 10%,
      transparent 10%,
      transparent 39%,
      var(--bg2-opac07) 40%,
      transparent 41%
    ),
    radial-gradient(
      circle at bottom right,
      var(--bg2-opac07) 10%,
      transparent 10%,
      transparent 39%,
      var(--bg2-opac07) 40%,
      transparent 41%
    );
  background-size: 1.5em 1.5em;
}

.interactive_Sect,
.stories_Sect {
  width: 100%;
  min-height: 100vh;
  padding-inline: var(--gen-padding);
  padding-block: 5em 3em;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header_1 h2 {
  font-size: 5.2em;
  font-family: var(--font-unica);
  background: radial-gradient(circle, transparent 25%, var(--text-clr2) 26%),
    linear-gradient(to bottom, var(--text-clr2), 60%, var(--secBg-clr)),
    linear-gradient(
      45deg,
      transparent 46%,
      var(--bg1-opac02) 47%,
      var(--bg1-opac02) 52%,
      transparent 53%
    ),
    linear-gradient(
      135deg,
      transparent 46%,
      var(--bg1-opac02) 47%,
      var(--bg1-opac02) 52%,
      transparent 53%
    );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-align: center;
  background-size: 3px 3px;
}

.header_2 h2 {
  font-size: 5.4em;
  font-family: var(--font-unica);
  background: radial-gradient(
      var(--bg2-opac05) 10%,
      transparent 10%,
      transparent 39%,
      var(--bg2-opac05) 40%,
      var(--bg2-opac05) 45%,
      transparent 46%
    ),
    radial-gradient(
      circle at top left,
      var(--bg2-opac05) 4%,
      transparent 5%,
      transparent 19%,
      var(--bg2-opac05) 20%,
      var(--bg2-opac05) 22%,
      transparent 23%
    ),
    radial-gradient(
      circle at top right,
      var(--bg2-opac05) 4%,
      transparent 5%,
      transparent 19%,
      var(--bg2-opac05) 20%,
      var(--bg2-opac05) 22%,
      transparent 23%
    ),
    radial-gradient(
      circle at bottom left,
      var(--bg2-opac05) 4%,
      transparent 5%,
      transparent 19%,
      var(--bg2-opac05) 20%,
      var(--bg2-opac05) 22%,
      transparent 23%
    ),
    radial-gradient(
      circle at bottom right,
      var(--bg2-opac05) 4%,
      transparent 5%,
      transparent 19%,
      var(--bg2-opac05) 20%,
      var(--bg2-opac05) 22%,
      transparent 23%
    ), radial-gradient(
      circle at center,
      #573853 0,
      #e4c8e4,
      #d8b8d8,
      #d8b8d8,
      #f9d9f9 100%
    );
  background-size: 10px 10px;
  background-color: #f9d9f9;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-align: center;
}

.theGrid {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.firstTwo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 25px;
  width: 100%;
  align-items: center;
}

.firstTwo > .unitInteractive {
  padding: 3% 5%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  gap: 30px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: var(--clip-type1);
  background-color: var(--secBg-clr);
  transition: background-size 0.5s ease-in-out;
}

.middle_large {
  width: 100%;
}

.middle_large > .unitInteractive {
  padding: 3% 5%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  gap: 30px;
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: var(--secBg-clr);
  transition: background-size 0.5s ease-in-out;
}

.unitInteractive:hover {
  background-size: 120%;
}

.unitInteractive.contain {
  background-size: contain;
}

.description_Cntn {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title_container {
  display: flex;
  flex-direction: column;
}

.title_container h3 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: flex-start;
}

.title_container h3 span {
  font-size: 2em;
  font-weight: 300;
  font-family: var(--font-jost);
  color: var(--text-clr2);
}

.title_container h2 {
  font-size: 3.5em;
  font-weight: 600;
  color: var(--text-clr2);
  font-family: var(--font-unica);
  width: 100%;
}

.UtilText {
  text-align: center;
  font-size: 4.2em !important;
  font-weight: 700 !important;
}

.description_Cntn p {
  font-size: 1.1em;
  font-weight: 400;
  color: var(--text-clr1);
}

.goExploreBtn {
  background-color: var(--secBg-clr);
  clip-path: var(--clip-type3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0.5em 1em;
  pointer-events: none;
}

.goExploreBtn span {
  font-size: 2em;
  color: var(--text-clr1);
  font-family: var(--font-unica);
  font-weight: 300;
}

.goExploreBtn i {
  font-size: 2.8em;
  color: var(--text-clr2);
}

.accordion_Cntn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: center;
  margin-top: 20px;
  height: 380px;
}

.accordion_unit{
  flex-basis: 20%;
  height: 100%;
  width: 100%;
  background-color: var(--secBg-clr);
  isolation: isolate;
  position: relative;
  padding: 3% 1.5%;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 30px #3921393a;
  clip-path: var(--clip-type1);

  transition: flex-basis 0.55s ease;
}

.accordion_unit:hover, .accordion_unit:focus-within {
  flex-basis: 40%;
}

.accordion_unit:hover .accodrion_text, .accordion_unit:focus-within .accodrion_text{
  font-size: 1.2em;
  font-weight: 300;
}

.accordion_unit > button {
  width: max-content;
  display: flex;
  align-items: flex-end;
  outline: none;
  border: none;
}

.btn_1 {
  background-color: transparent;
}

.btn_2 {
  background-color: transparent;
}
.btn_3 {
  background-color: transparent;
}

.btn_1 > svg{
  color: #dd911e;
}
.btn_2 > svg{
  color: #cace4f;
}
.btn_3 > svg{
  color: #402E32;
}
.btn_3 span {
  color: #b8afb1;
  font-family: var(--font-unica);
  font-size: 1.7em;
}

.btn_2 span {
  color: #c8d2bd;
  font-family: var(--font-unica);
  font-size: 1.4em;
  font-weight: 500;
}
.btn_1 span {
  color: rgb(192, 176, 131);
  font-family: var(--font-unica);
  font-size: 1.7em;
}

.accordion_content {
  min-height: 37%;
}

.accodrion_text {
  max-width: 40ch;
  color: var(--text-clr2);
  font-size: 1.05em;
  font-weight: 400;
  transition: font-size 0.4s ease;
}


.accordion_unit.acc1{
  background-image: linear-gradient(to bottom, transparent, 60%, #403c2cce), url(/Voyager_1.jpg);
}
.accordion_unit.acc2{
  background-image: linear-gradient(to bottom, transparent, 86%, #0789c6ac), url(/cassini.jpg);
}
.accordion_unit.acc3{
  background-image: linear-gradient(to bottom, transparent, 60%, #cb6f19a1), url(/perseverance_1.jpg);
}



@media screen and (max-width: 650px) {
  .firstTwo > .unitInteractive,
  .middle_large > .unitInteractive {
    background-size: cover;
    gap: 10px;
  }

  .header_1 h2 {
    font-size: 5em;
  }

  .accordion_Cntn {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    margin-top: 20px;
    height: 600px;
  }

  .accordion_unit{
    flex-basis: 35%;
    padding: 3% 2.5%;
  }

  .btn_2 span {
    color: #c8d2bd;
    font-size: 1.7em;
    font-weight: 500;
  }
}
