:root {
    --primary-clr: #ffa86a;
    --sec-clr: #fe7e22;
    --text-clr1: #fffbf7;
    --text-deco: #eee8e2e3;
    --dark-clr1: #030303;
    --dark-clr2: #000000;
    --bg1-opac05: #0000006e;
    --bg1-opac02: #00000022;

    --grey-opac: #9c9793ca;
  
    --borderline-clr: #ffa86a7f;
    --borderline-clr2: #fe7e2289;

    --rad-grad: radial-gradient(#ffa86ab3 0%, rgba(64, 42, 28, 0) 77%, rgba(7, 5, 5, 0) 100%);
  
    --gen-padding: 16%;
    --small-padding: 5%;
    --vader-right: 15%;

  
    --font-unica: "Unica One", sans-serif;
    --font-sedgwick: 'Sedgwick Ave Display', cursive;
    --font-roboto: 'Roboto', sans-serif;
    --font-forum: 'Forum', cursive;
    --font-script: 'Dancing Script', cursive;
}

.projectDisplayCntn{
    width: 100%;
    background-color: var(--dark-clr1);
    overflow: hidden;
}

.projectDisplayCntn nav{
    height: 120px;
    width: 100%;
    padding-inline: var(--small-padding);
    display: flex;
    align-items: center;
}

.projectDisplayCntn nav .center{
    display: flex;
    align-items: center;
    height: 100%;
}

.projectDisplayCntn nav .center > img{
    width: 60px;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
}

.projectFirstSect{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4.5em;
    padding-inline: var(--gen-padding);
}

.projectFirstSect .firstSectNav{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}


.firstSectNav > a, .firstSectNav > p{
    font-size: 0.75em;
    color: var(--text-deco);
}

.firstSectNav > a:hover{
    text-decoration: underline;
    text-decoration-color: var(--primary-clr);
    text-underline-offset: 4px;
}

.firstSectNav > span{
    font-size: 0.89em;
    color: var(--borderline-clr);
}

.firstSectNav > p.decoText{
    font-size: 1.05em;
    color: var(--primary-clr);
    font-family: var(--font-forum);
}

.mainProjectDisplay{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.leftFirstBox{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
    min-width: 300px;
}

.leftFirstBox  h1{
    font-size: 5.3em;
    font-family: var(--font-forum);
    color: var(--primary-clr);
    font-weight: 200;
}

.leftFirstBox p{
    font-size: 1em;
    color: var(--text-deco);
}

.leftFirstBox p:nth-of-type(2){
    margin-top: 10px;
}

.leftFirstBox p:nth-of-type(2) span {
    color: var(--primary-clr);
    font-family: var(--font-script);
}

.rightFirstBox{
    width: 35%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.rightFirstBox h3{
    width: 100%;
    padding-bottom: 20px;
    font-size: 0.94em;
    color: var(--text-deco);
    position: relative;
}

.rightFirstBox h3::after{
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;

    border-bottom: 1px solid var(--borderline-clr);
}

.rightFirstBox h3 span{
    color: var(--text-clr1);
    font-family: var(--font-forum);
    font-size: 0.98em;
    font-weight: 400;
}

.bottomRightSect{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.unitBott{
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    padding-block: 8px;
    gap: 5px;
    align-items: baseline;
}

.unitBott p{
    color: var(--text-deco);
    font-size: 0.78em;
}

.unitBott p.text2, .unitBott a{
    font-size: 1.06em;
    font-family: var(--font-forum);
}

.unitBott span{
    height: 2px;
    display: flex;
    border-bottom: 2px dashed var(--borderline-clr);
}

.projectLogo{
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}

.logoAbsMain {
    display: flex;
    align-items: flex-end;
    gap: 2.5px;
    user-select: none;

}

.leftMargin{
    margin-left: auto;
}

.itemCntn{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: max-content;
    gap: 6px;
}

.itemCntn > p{
    font-size: 1.1em;
    color: var(--text-deco);
    font-family: var(--font-script);
    font-weight: 500;
}

.logoAbsMain .Q{
    font-size: 5em;
    color: #fff6ff;
    font-family: 'Unica One', sans-serif;
}

.logoAbsMain .V{
    font-size: 5em;
    color: #f9d9f9;
    margin-left: -3px;
    font-family: 'Unica One', sans-serif;
}

.logoAbsMain img {
    width: 60px;
    aspect-ratio: 1;
    margin-left: 5px;
    margin-block: auto;
}

.logo{
    display: flex;
    align-items: center;
    user-select: none;
}

.Q{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5em;
    font-weight: 400;
    color: #EFEFDC;
}

.B{
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    font-weight: 300;
    color: #FFF5FF;
}

.logo i{
    color: #702963;
    font-size: 5.4em;
}

.quadMark{
    margin-top: -20px;
}

.quadMark > img{
    width: 180px;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
}

.projectSecSect{
    display: flex;
    flex-direction: column;
    padding-inline: var(--small-padding);
}

.colorPallete{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 5px;
    width: 350px;
}


.unitPallete{
    aspect-ratio: 1;
    border-radius: 7px;
}

.unitPallete.p1{
    background-color: #a706f1;
}
.unitPallete.p2{
    background-color: #ff5882;
}
.unitPallete.p3{
    background-color: #42273f;
}
.unitPallete.p4{
    background-color: #ff964e;
}
.unitPallete.p5{
    background-color: #241822;
}
.unitPallete.p6{
    background-color: #ebcae3;
}
.unitPallete.p7{
    background-color: #090208;
}
.unitPallete.p8{
    background-color: #fff6ff;
}

.colorDatacntn{
    width: 45%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.colorData{
    width: 300px;
    font-size: 1.05em;
    color: var(--text-deco);
    margin-top: -20px;
}

.fontSect{
    width: 100%;
    padding-inline: var(--small-padding);
    display: flex;
    flex-direction: column;
    gap: 0px;
    overflow: hidden;
}

.fontCntn{
    width: 100%;
    overflow: hidden;
    margin-top: 5em;
    position: relative;
    user-select: none;
}

.fontCntn::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(to right, #030303, rgba(0, 0, 0, 0.141));
    width: 40px;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.fontCntn::before{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(to left, #030303, rgba(0, 0, 0, 0.141));
    width: 40px;
    z-index: 5;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.fontSect .transText{
    font-size: 5em;
    display: flex;
    gap: 20px;
    width: max-content;
    align-items: center;
    color: var(--text-deco);
    transform: translateX(0%);

    animation: fontTrans 10s linear infinite;
}

.fontSect .transText.quadair{
    animation: fontTrans2 10s linear infinite;
}

@keyframes fontTrans {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50.6%);
    }
}
@keyframes fontTrans2 {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50.65%);
    }
}

.fontSect p i{
    font-size: 12px;
    color: var(--borderline-clr);
}

.fontSect .unica{
    font-family: "Unica One", sans-serif;
}
.fontSect .aleg{
    font-family: 'Alegreya Sans', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--text-deco);
    color: transparent;
}

.fontSect .jost{
    font-family: "Jost", sans-serif;
}
.fontSect .ibm{
    font-family: 'IBM Plex Mono', monospace;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--text-deco);
    color: transparent;
}

.fontSect .metro{
    font-family: 'Metrophobic', sans-serif;
}

.fontSect .times{
    font-family: 'Times New Roman', Times, serif;
}
.fontSect .jose{
    font-family: 'Josefin Sans', sans-serif;
}
.fontSect .oswald{
    font-family: 'Oswald', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--text-deco);
    color: transparent;
}
.fontSect .geo{
    font-family: Georgia, serif;
}

.itemLabel{
    margin-left: auto;
    font-size: 1.15em;
    font-family: var(--font-script);
    color: var(--text-deco);
}

.moodboard{
    width: 100%;
    padding-top: 6em;
    position: relative;
}

.firstPiece {
    padding-inline: var(--small-padding);
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

@media screen and (max-width: 600px)  {
    .mainProjectDisplay{
        flex-direction: column;
        gap: 60px;
    }

    .leftFirstBox{
        width: 100%;
        min-width: 300px;
    }

    .rightFirstBox{
        width: 100%;
    }

    .rightFirstBox h3{
        font-size: 1.05em;
    }
  
    .unitBott p{
        font-size: 0.98em;
    }
    
    .unitBott p.text2, .unitBott a{
        font-size: 1.16em;
    }

    .projectLogo{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        gap: 20px;
    }

    .projectSecSect{
        display: flex;
        gap: 30px;
        padding-block: 7em 1.4em;
    }

    .colorDatacntn{
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }
    
    .colorData{
        width: 60%;
        margin-top: 0px;
    }

    .firstPiece {
        position: relative;
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .fontCntn::after{
        width: 10%;
    }
    .fontCntn::before{
        width: 10%;
    }
}

.itemCntn.search{
    margin-left: auto;
    width: 23%;
}

.itemCntn.search img{
    width: 100%;
    object-fit: contain;
    object-fit: center;
}

.itemCntn.landing{
    width: 39%;
    margin-left: 30vw;
    margin-top: 19.6%;
}

.itemCntn.landing img{
    width: 100%;
    object-fit: contain;
    object-position: center;
    background-color: var(--dark-clr1);
}

.itemCntn.apod{
    position: absolute;
    left: var(--gen-padding);
    top: 4%;
}


.itemCntn.apod img{
    width: 200px;
    object-fit: contain;
    object-position: center;
    background-color: var(--dark-clr1);
}


.SecPiece{
    padding-inline: var(--small-padding);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cropDisplays{
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: 4em;
}

.itemCntn.apodd{
    width: 29%;
}

.itemCntn.apodd img, .itemCntn.cropp img{
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.itemCntn.cropp{
    width: 35%;
    transform: translate(-2%, 10%);
}


.colorDatacntn.cropp{
    align-items: flex-start;
    justify-content: flex-start;
    width: 62%;
}

@media screen and (max-width: 600px) {
    .itemCntn.apod{
        position: static;
        margin-top: -130px;
    }

    .itemCntn.search{
        margin-left: auto;
        width: 60%;
    }
    
    .itemCntn.landing{
        width: 100%;
        margin-left: 0vw;
        margin-top: 0%;
    }

    .itemCntn.apod img{
        width: 42px;
        min-width: 160px;
    }

    .SecPiece{
        flex-direction: column;
        gap: 40px;
    }
    
    .itemCntn.apodd{
        width: 70%;
    }

    .itemCntn.cropp{
        width: 47%;
        transform: translate(0%, 0%);
    }

    .colorDatacntn.cropp{
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
    }
    
}

.thridPiece{
    width: 100%;
    padding-inline: var(--small-padding);
    padding-top: 7em;
}


.interactivesCnTn{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    align-items: center;
}

.itemCntn.unitInteractive{
    width: 100%;
}

.unitInteractive img{
    width: 100%;
    object-fit: contain;
    object-position: center;
    background-color: var(--dark-clr1);
}


.exploreIframe{
    width: 100%;
    padding-inline: var(--gen-padding);
    padding-block: 12em 7em;
}

.iframeCntn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.iframeCntn iframe{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 15px;
}

@media screen and (max-width: 600px) {
    .exploreIframe {
        padding-block: 7em 5em;
    }

    .iframeCntn iframe{
        width: 100%;
        aspect-ratio: 9/15;
        border-radius: 15px;
    }
}

.ProjectPageFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--gen-padding);
    padding-block: 2em;
}

.headBackHome{
    display: flex;
    align-items: center;
}

.headBackHome:hover p{
    color: var(--primary-clr);
}

.headBackHome.home:hover img{
    animation: swipeRight 1.2s linear 0.5s infinite;
}

.headBackHome.quad:hover img{
    animation: swipeLeft 1.2s linear 0.5s infinite;
}

.transLink{
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid var(--grey-opac);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@media screen and (max-width: 395px) {
    .transLink{
        width: 80px;
    }
}

.transLink.gobckHomeLink img{
    rotate: 90deg;
}
.transLink.quadair img{
    rotate: -90deg;
}

.transLink img{
    width: 35%;
    object-fit: contain;
    object-position: center;

    animation: none;
}

.home p{
    font-size: 0.97em;
    color: var(--text-deco);
    margin-left: -20px;
    background-color: var(--dark-clr1);
    z-index: 5;

    transition: color 0.45s ease;
}

.quad p{
    font-size: 0.97em;
    color: var(--text-deco);
    margin-right: -20px;
    background-color: var(--dark-clr1);
    z-index: 5;

    transition: color 0.45s ease;
}



@keyframes swipeRight {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(150%);
    }
    50.0001% {
        transform: translateY(-140%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes swipeLeft {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(150%);
    }
    50.0001% {
        transform: translateY(-140%);
    }
    100% {
        transform: translateY(0%);
    }
}

.heroBoard{
    display: flex;
    justify-content: space-between;
    padding-inline: var(--small-padding);
}

.itemCntn.heroBox {
    width: 30%;
    height: max-content;
    margin-top: -100px;
    margin-left: 20%;
}

.quadmood .itemCntn > img{
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.signLog{
    display: flex;
    gap: 10px;
    margin-left: auto;
    width: max-content;
    align-items: flex-end;
}

.itemCntn.sign{
    width: 200px;
}

.itemCntn.log{
    width: 180px;
    margin-bottom: -60px;
}


.dashBoard{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: var(--small-padding);
    padding-block: 4em;
}

.wavyCntn{
    display: flex;
}

.itemCntn.dash{
    width: 40%;
    margin-top: 100px;
}
.itemCntn.help{
    width: 40%;
    margin-left: -100px;
}

.colorDatacntn.dash{
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px)  {
    .heroBoard{
        flex-direction: column;
        gap: 40px;
    }

    .itemCntn.heroBox {
        width: 100%;
        margin-top: 0px;
        margin-left: 0%;
    }

    .signLog{
        gap: 10px;
        width:  100%;
        align-items: flex-end;
    }

    .itemCntn.sign{
        width: 55%;
    }
    
    .itemCntn.log{
        width: 43%;
        margin-bottom: -20px;
    }

    .dashBoard{
        width: 100%;
        padding-block: 4em;
        flex-direction: column;
    }

    .wavyCntn{
        flex-direction: column;
        gap: 30px;
    }

    .itemCntn.dash{
        width: 100%;
        margin-top: 0px;
    }
    .itemCntn.help{
        width: 100%;
        margin-left: 0px;
    }

    .colorDatacntn.dash{
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        margin-top: 30px;
    }
}

.interactivesCnTn.quadair{
    align-items: flex-start;
}

.margDown{
    margin-top: 60px;
}

.margUp{
    margin-top: -60px;
}

.payment {
   width: 100%; 
   padding-inline: var(--gen-padding);
   display: flex;
   justify-content: space-between;
   gap: 30px;
   padding-block: 4em;
}

.wavyCntn2{
    justify-content: flex-end;
    display: flex;
}

.itemCntn.succ{
    width: 50%;
    margin-top: 100px;
    margin-right: -100px;
}
.itemCntn.auth{
    width: 50%;
}

@media screen and (max-width: 600px) {
    .interactivesCnTn.quadair{
        align-items: flex-start;
    }
    
    .margDown{
        margin-top: 0px;
    }
    
    .margUp{
        margin-top: 0px;
    }

    .payment {
       flex-direction: column-reverse;
       gap: 10px;
    }

    .itemCntn.succ{
        width: 70%;
        margin-top: 80px;
        margin-right: -80px;
    }
    .itemCntn.auth{
        width: 70%;
    }
}